{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" />
    <title>SZ Light</title>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
        .spinner {
            display: block;
            width: 32px;
            height: 32px;
            margin: 0 auto;
            background: url({% static "feed/img/loader.gif" %}) center center no-repeat;
        }
    </style>
    <link href="{% static 'bootstrap/css/bootstrap-responsive.min.css' %}" rel="stylesheet">

    <script src="http://code.jquery.com/jquery-1.8.2.js"></script>
    <script src="http://underscorejs.org/underscore.js"></script>
    <script src="http://backbonejs.org/backbone.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src={% static "bootstrap/js/bootstrap.min.js"%}></script>
    <script type="text/javascript" src={% static "light/js/sz.light.backbone.models.js"%}></script>
    <script type="text/javascript" src={% static "light/js/sz.light.backbone.views.js"%}></script>
    <script type="text/javascript" src={% static "light/js/sz.light.backbone.js"%}></script>


</head>
<body>
{% csrf_token %}
<input id="username" type="hidden" value="{{ user }}"/>
<input id="auth_login_url" type="hidden" value="{% url auth_login %}?next={% url light-backbone %}"/>
<div id="page"></div>
<!-- Templates -->
<script type="text/template" id="regularPageTemplate">
    <header class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="#">SZ Light</a>
                <ul class="nav pull-right">
                    {% if user.is_authenticated %}
                        <li class="dropdown ">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-user"></i> @{{ user }}
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu ">
                                <li><a href="{% url auth_logout %}?next={% url light-backbone %}">log out</a></li>
                            </ul>
                        </li>

                    {% else %}
                        <li><a href="{% url auth_login %}?next={% url light-backbone %}">log in</a></li> {% endif %}
                </ul>
                <div class="nav-collapse collapse">
                    <section id="control" class="form-search navbar-search pull-left"></section>

                </div>

            </div>
        </div>
    </header>
    <section id="content" class="container"></section>
    <footer></footer>
</script>
<script type="text/template" id="feedTemplate">
    <article id="filter"></article>
    <article id="places"></article>
</script>
<script type="text/template" id="placeTemplate">
    <article>map</article>
    <article>info</article>
    <article>messages</article>
    <article>posting area</article>
</script>
<script type="text/template" id="geolocationNotAvailableTemplate">
    <article class="alert alert-error">
        <h4>Error!</h4>
        Geolocation services are not supported by your browser or you do not have a GPS device in your computer.
    </article>
</script>
<script type="text/template" id="loadingTemplate">
    <article class="spinner" style="padding-top: 45%;">
    </article>
</script>
<script type="text/template" id="filterTemplate">
    <form class="form-search" >
        <div class="input-append">
            <input type="search" class="search-query queryTextBox" id="queryTextBox" placeholder="Search" name="searchQuery">
            <button type="submit" class="btn" id="submitSearchButton"><i class="icon-search"></i></button>
        </div>
        <label class="radio" for="searchSubjectIsThings">
            <input type="radio" name="searchSubject" id="searchSubjectIsThings" value="thing" checked>
            things
        </label>
        or
        <label class="radio" for="searchSubjectIsPlaces">
            <input type="radio" name="searchSubject" id="searchSubjectIsPlaces" value="place">
            places
        </label>
        <label class="checkbox" for="isSearchDistanceNearby">
            <input type="checkbox" id="isSearchDistanceNearby" name="searchDistance" value="nearby">
            nearby
        </label>
    </form>
</script>
<script type="text/template" id="placeListItemTemplate">
    <div class="media">
        <a class="pull-left" href="#">
            <img class="media-object"
                 src="<%= foursquare_icon_prefix %>bg_32<%= foursquare_icon_suffix %>">
        </a>
        <div class="media-body">
            <h4 class="media-heading"><%- name %></h4>
            <address>
                <%- address %>
            </address>
        </div>
    </div>
</script>
</body>
</html>