<ul  class="ul-box" >
    <li >
        <div ng-repeat="message in feed.results "  class="  padding-big" ng-class="{'messageBox':!$last}" ng-init="url=urlMessage(message.id)">
            <sz-feed-message-box message='message' categories="categories" place="place"  url="url"></sz-feed-message-box>
        </div>
    </li>
    <li  class="text-center media box-footer margin-bottom-big" >
        <button class="btn  btn-large" ng-click="loadMore()">
            <i class="icon-circle"></i>
            <i class="icon-circle"></i>
            <i class="icon-circle"></i>
        </button>
    </li>
</ul>