<div>
    <ul id="contentHeader">
        <li class="contentHeader-inner">
            <ul class="noList">
                <li >
                    <a href={{urlPlace(placeHeader.id)}} class="graydark">
                        <div id="place-name-address">        
                            <h3 id="place-name-h">{{placeHeader.name}}</h3>
                            <small id="place-address">{{placeHeader.address}}</small>   
                        </div> 
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>
