<div>
    <ul id="contentHeader">
        <li class="contentHeader-inner">
            <ul class="noList">
                <li >
                    <div id="place-add-btn">
                        <a class="btn btn-large  btn-primary" type="button" href="#/places/{{placeHeader.id}}/messages/add" ><i class="icon-plus icon-2x" ></i></a>
                    </div>
                    <a href="#/places/{{placeHeader.id }}/" class="graydark">
                        <div id="place-name-address">        
                            <h3 id="place-name-h">{{placeHeader.name}}</h3>
                            <small id="place-address">{{placeHeader.address}}</small>   
                        </div> 
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>