<div class="navbar navbar-static-top navbar-inverse" >
    <div class="navbar-inner">
        <div class="container " style="height:49px;text-align:center;" >
            <span class="pull-left">
                <a type="button" class="btn btn-navbar " style="margin-top:2px;" href={{urlFeed}}>
                    <i class="icon-home icon-2x" ></i>
                </a>
            </span>
            <div id="navSearch" class="text-center overflow-hidden">
                <a  href={{urlPlace(placeHeader.id)}} class="brand" style="display:inline-block;float:none;">
                    <span style="">{{placeHeader.name}}</span>
                </a>                        
            </div>
        </div>
    </div>
</div>
    