
<!--<div style="background:red;border:1px solid black">
    <div ng-repeat="item in feed.data.results" style="border:1px solid blue">
        Index:{{$index}}<br>
        Place:{{item.place.name}}<br>
        Message:{{item.messages}}<br>
    </div>
</div>
<div style="background:yellow">
{{feed.data.results}}
</div>
<div style="background:green">
{{newfeed}}
</div>
<button class="btnMy" ng-click="loadMorePlaces ()">
    <img class="media-object" src="img/ico/blue/glyphicons_187_more.png">
</button>-->
<ul class="media-list" id="searchTextResults">
	<li ng-repeat="item in feed.data.results" class="media place_box" ng-controller="FeedPlaceBox">
            <div style="text-align:right;margin-bottom:10px;" class="place_address"> 
                <a href="#/v/{{place.id}}" >
                    <strong style="line-height:12px;">{{item.place.name}}</strong><br>
                    <small style="line-height:10px;">{{item.place.address}}</small>
                </a>
            </div>      
            <div>
                <button class="btnMy"  ng-class="{btnDisable:!PlaceBoxMessage.cur}" ng-click='PlaceBoxMessage.next=PlaceBoxMessage.next-1'>
                    <img class="media-object" src="img/ico/blue/glyphicons_224_chevron-left.png">
                </button>
                <button class="btnMy " ng-class="{btnDisable:!(item.messages.results.length-1)}" ng-click='PlaceBoxMessage.next=PlaceBoxMessage.next+1' style="float:right">
                    <img class="media-object" src="img/ico/blue/glyphicons_223_chevron-right.png">
                </button>
            </div>
            <ul class=" place_box_messages_big_box" style="margin-left:0;list-style:none;" >
                <div class="place_box_messages_wrapper" >
                    <sz-feed-message-box cur="PlaceBoxMessage.cur"  next="PlaceBoxMessage.next" messages='item.messages.results' cat='PlaceBoxMessage.cat'></sz-feed-message-box>
                </div>
            </ul>
	</li>
	<li style="text-align:center;margin-top:10px;">
            <button class="btnMy" ng-click="loadMorePlaces ()">
                <img class="media-object" src="img/ico/blue/glyphicons_187_more.png">
            </button>
	</li>
</ul>

