<div ng-init='places = {"meta":{"code":200},"data":[
{"name": "Benetton","address": "Большая Садовая, 302-бис, пятый этаж, кв. № 50)","messages":{"count": 31,"results": [{"username": "pauk_slon", "id": 90, "date": "2013-01-04T15:38:17.029Z", "text": "nsjhf jhgrfkhkjshf dhiugyhiutnhi gjrhdiuh vhudheuyrt yiuhjhskjehr fegruydgdk cgjhre 250!", "things": ["sgfjhgf","sjdhfjgh","kfjhnjh","sdfhjdf"]},{"username": "pauk_slon", "id": 90, "date": "2013-01-04T15:38:17.029Z", "text": "nsjhf jhgrfkhkjshf dhiugyhiutnhi gjrhdiuh vhudheuyrt yiuhjhskjehr fegruydgdk cgjhre 250!", "things": ["sgfjhgf","sjdhfjgh","kfjhnjh","sdfhjdf"]},{"username": "pauk_slon", "id": 90, "date": "2013-01-04T15:38:17.029Z", "text": "nsjhf jhgrfkhkjshf dhiugyhiutnhi gjrhdiuh vhudheuyrt yiuhjhskjehr fegruydgdk cgjhre 250!", "things": ["sgfjhgf","sjdhfjgh","kfjhnjh","sdfhjdf"]}]}}, 
{"name": "1", "address": "Большая Садовая, 302-бис, пятый этаж, кв. № 50)", "messages": {"count": 4,"results": [{"username": "pauk_slon", "id": 90, "date": "2013-01-04T15:38:17.029Z", "text": "nsjhf jhgrfkhkjshf dhiugyhiutnhi gjrhdiuh vhudheuyrt yiuhjhskjehr fegruydgdk cgjhre 250!", "things": ["sgfjhgf","sjdhfjgh","kfjhnjh","sdfhjdf"]},{"username": "pauk_slon", "id": 90, "date": "2013-01-04T15:38:17.029Z", "text": "nsjhf jhgrfkhkjshf dhiugyhiutnhi gjrhdiuh vhudheuyrt yiuhjhskjehr fegruydgdk cgjhre 250!", "things": ["sgfjhgf","sjdhfjgh","kfjhnjh","sdfhjdf"]},{"username": "pauk_slon", "id": 90, "date": "2013-01-04T15:38:17.029Z", "text": "nsjhf jhgrfkhkjshf dhiugyhiutnhi gjrhdiuh vhudheuyrt yiuhjhskjehr fegruydgdk cgjhre 250!", "things": ["sgfjhgf","sjdhfjgh","kfjhnjh","sdfhjdf"]}]}},
{"name": "Benetton", "address": "Большая Садовая, 302-бис, пятый этаж, кв. № 50)", "messages": {"count": 31,"results": [{"username": "pauk_slon", "id": 90, "date": "2013-01-04T15:38:17.029Z", "text": "nsjhf jhgrfkhkjshf dhiugyhiutnhi gjrhdiuh vhudheuyrt yiuhjhskjehr fegruydgdk cgjhre 250!", "things": ["sgfjhgf","sjdhfjgh","kfjhnjh","sdfhjdf"]},{"username": "pauk_slon", "id": 90, "date": "2013-01-04T15:38:17.029Z", "text": "nsjhf jhgrfkhkjshf dhiugyhiutnhi gjrhdiuh vhudheuyrt yiuhjhskjehr fegruydgdk cgjhre 250!", "things": ["sgfjhgf","sjdhfjgh","kfjhnjh","sdfhjdf"]},{"username": "pauk_slon", "id": 90, "date": "2013-01-04T15:38:17.029Z", "text": "nsjhf jhgrfkhkjshf dhiugyhiutnhi gjrhdiuh vhudheuyrt yiuhjhskjehr fegruydgdk cgjhre 250!", "things": ["sgfjhgf","sjdhfjgh","kfjhnjh","sdfhjdf"]}]}},
{"name": "1", "address": "Большая Садовая, 302-бис, пятый этаж, кв. № 50)", "messages": {"count": 7,"results": [{"username": "pauk_slon", "id": 90, "date": "2013-01-04T15:38:17.029Z", "text": "nsjhf jhgrfkhkjshf dhiugyhiutnhi gjrhdiuh vhudheuyrt yiuhjhskjehr fegruydgdk cgjhre 250!", "things": ["sgfjhgf","sjdhfjgh","kfjhnjh","sdfhjdf"]},{"username": "pauk_slon", "id": 90, "date": "2013-01-04T15:38:17.029Z", "text": "nsjhf jhgrfkhkjshf dhiugyhiutnhi gjrhdiuh vhudheuyrt yiuhjhskjehr fegruydgdk cgjhre 250!", "things": ["sgfjhgf","sjdhfjgh","kfjhnjh","sdfhjdf"]},{"username": "pauk_slon", "id": 90, "date": "2013-01-04T15:38:17.029Z", "text": "nsjhf jhgrfkhkjshf dhiugyhiutnhi gjrhdiuh vhudheuyrt yiuhjhskjehr fegruydgdk cgjhre 250!", "things": ["sgfjhgf","sjdhfjgh","kfjhnjh","sdfhjdf"]}]}}
]}'></div>	

	
<ul class="media-list" id="searchTextResults">
        
        
	<li ng-repeat="place in places.data" class="media">
		
		    <div class="place_box" >
                        <div class="navbar  " >
                            <div class="navbar-inner" style="padding:0; background-image:none;background-color:transparent;border:none;box-shadow:none;border-radius:none;">
                                <ul class="nav pull-right" style="margin-bottom:0">
                                    <li class="dropdown">
                                        <div class="dropdown-toggle place_address" data-toggle="dropdown" href="#"  >                                    
                                            <a href='#' style="float:right;margin:8px 5px 0px 5px;" >
                                                <i class=" icon-chevron-down" ></i>
                                            </a>
                                            <div  style="float:right;" id="b">                                    
                                                <strong style="line-height:12px;">{{place.name}}</strong><br>
                                                <small style="line-height:10px;">{{place.address}}</small>    
                                            </div>                                    
                                        </div>
                <!--                                     <b class="caret"></b> -->
                                        <ul class="dropdown-menu  pager mybtn">
                                             <li>
                                                <div style="border-bottom:1px solid silver;padding-bottom:8px;">
                                                    <span class="badge badge-success">1873</span><br>
                                                    <span class="badge">800</span>
                                                </div>
                                            </li>
                                        
                                            <li>
                                                <a href="#" style="margin:8px 0"> 
                                                    <i class=" icon-plus"></i>
                                                </a>
                                            </li>
                                            
                                            <li>
                                                <a href="#"> 
                                                    <i class=" icon-info-sign"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>           
                        </div>
<!--                        <div class="place_box_info "  >
                            <ul class="nav dropdown pull-right" style="margin-bottom:0">
                                <div class="dropdown-toggle place_address" data-toggle="dropdown" href="#"  >                                    
                                     <a href='#' style="float:right;margin:8px 5px 0px 5px;" >
                                         <i class=" icon-chevron-down" ></i>
                                     </a>
                                    <div  style="float:right;" id="b">                                    
                                        <strong style="line-height:12px;">{{place.name}}</strong><br>
                                        <small style="line-height:10px;">{{place.address}}</small>    
                                    </div>                                    
                                </div>
                                <ul class="dropdown-menu pager mybtn" >
                                    <li>
                                        <div style="border-bottom:1px solid silver;padding-bottom:8px;">
                                            <span class="badge badge-success">1873</span><br>
                                            <span class="badge">800</span>
                                        </div>
                                    </li>
                                
                                    <li>
                                        <a href="#" style="margin:8px 0"> 
                                            <i class=" icon-plus"></i>
                                        </a>
                                    </li>
                                    
                                    <li>
                                        <a href="#"> 
                                            <i class=" icon-info-sign"></i>
                                        </a>
                                    </li>
                                </ul>     
                            </ul>
                        </div>-->
                        <div class=" place_box_messages">
                            <a href="#" style='margin-left:0px;margin-right:5px;float:left'>
                                <img class="media-object" src="img/user.png"  width="30" height="30" align="left">
                            </a>
                            <div class="media-body place_box_messages" >
                                <span class="badge " >8</span><h6 class="place_box_messages_author" style='margin:0;display:inline;margin-left:3px;line-height:16px;'>Дуня Кулакова</h6>
                                <div class='place_box_messages_tags' style='line-height:14px;'>
                                    <small >
                                    <em >
                                        <span>таракан</span>&nbsp;
                                        <span>безнадежность</span>&nbsp;
                                        <span>смысл</span>&nbsp;
                                        <span>смерть</span>&nbsp;
                                        <span>абсурд</span>&nbsp;
                                        <span>страх</span>&nbsp;
                                        <span>галка</span>&nbsp;
                                        <span>болезнь</span>&nbsp;
                                         <span>таракан</span>&nbsp;
                                        <span>безнадежность</span>&nbsp;
                                        <span>смысл</span>&nbsp;
                                        <span>смерть</span>&nbsp;
                                        <span>абсурд</span>&nbsp;
                                        <span>страх</span>&nbsp;
                                        <span>галка</span>&nbsp;
                                        <span>болезнь</span>&nbsp;
                                    </em>
                                    </small>
                                </div>
                            </div>
                            <p class="place_box_messages_text">
                            И еще прошу я вас, мой далекий друг Джонни Депп, отписать мне как величать вас по батюшке, потому что мы еще плохо знаем друг друга и вы маненько пугаете меня своим нахрапом .А ежели вы думаете, что у нас все девки проститутки, как в вашей Америке, то и не пишите мне больше, потому как у нас девки не такие и сама я не такая, а вы тогда сами как есть козел
                            </p>
                            <ul class="pager mybtn" >
                                <li >
                                    <a href="#" class="active" > 
                                        <i class=" icon-text-height"></i>
                                    </a>
                                </li>
                                <li >
                                    <a href="#"> 
                                        <i class="icon-picture"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <ul class="pager mybtn " >
                            <li class="disabled pull-left" >
                                <a href="#"> 
                                    <i class="icon-chevron-left"></i>
                                </a>
                            </li>
                            <li class=" pull-right">
                                <a href="#"> 
                                    <i class="icon-chevron-right"></i>
                                </a>
                            </li>
                            
                        </ul>
                        
                    </div>
                    
		
		
		
		
		
		<!--
		    <a class="pull-right" href="{{place.shmotzhmot_details_url}}" style='margin-top:8px'><i class="icon-chevron-right"></i></a> 
			<div class="place_address" >
			    <div><strong>{{place.name}}</strong></div>
			    <div style='margin-top:-5px'><small>{{place.address}}</small></div>			    
			</div>
			<div class="place_box_messages">
                            <div></div>
			</div>
			<ul class="pager" style='margin-bottom:8px;'>
                            <li class="previous">
                                <a href="#">&larr; Older</a>
                            </li>
                            <li class="next">
                                <a href="#">Newer &rarr;</a>
                            </li>
                        </ul>
		</div>-->
	</li>
</ul>

   <script type="text/javascript"> 
   function buttonSet(){
        var pbm_btnWidth = $(".place_box_messages_btn").width();
        var pbmWidth =  $(".place_box_messages").width();
        var pbm_btnMargin  = (pbmWidth - pbm_btnWidth)*0.5;
        $(".place_box_messages_btn").css({marginLeft:pbm_btnMargin});
        }
//     buttonSet();
//     $(window).resize(function(){buttonSet();});

    </script>
	
