<div>
    <ul id="contentHeader">
        <li class="contentHeader-inner">
            <ul class="noList">
                <li >
                    <div id="place-add-btn">
                        <a class="btn btn-large  btn-primary" type="button" href="#/places/{{place.id}}/messages/add" ><i class="icon-plus icon-2x" ></i></a>
                    </div>
                    <a href="#/places/{{place.id }}/" class="graydark">
                        <div id="place-name-address">        
                            <h3 id="place-name-h">{{place.name}}</h3>
                            <small id="place-address">{{place.address}}</small>   
                        </div> 
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<ul class="media-list "  id="contentBody">
    <li class="text-center">
        <div>
            <a ng-repeat="message in feedPhoto.results " class="inline-block" href="#/messages/{{message.id }}" >
                <img src="{{message.photo.thumbnail}}">
            </a>
        </div>
    </li>
    <li class="text-center">
        <button class="btn  btn-large margin-top-big" ng-click="loadMore()">
            <i class="icon-circle"></i>
            <i class="icon-circle"></i>
            <i class="icon-circle"></i>
        </button>
    </li>
</ul>

<div style="height:60px;">
</div>
