
<div  class="box-page-header padding-X-big padding-Y text-center">
    <div style="float:left;margin-top:6px;">
        <a class="btn btn-large  btn-primary" type="button" href="#/places/{{ place.id }}/messages/add" ><i class="icon-plus icon-2x" ></i></a>
    </div>
    <a href="#/places/{{ place.id }}/" class="graydark">
        <div style="text-align:right;margin-bottom:10px;min-height:62px;" >        
            <h3 style="margin-bottom:0;margin-top:0;">{{place.name}}</h3>
            <small style="line-height:10px;">{{place.address}}</small>   
        </div> 
<!--        <div class="margin-X margin-top text-right">
            <i><small>{{distance}} м</small></i>
        </div>-->
    </a>
</div>
{{feedPhoto.count}}<br>
{{feedPhoto.params}}<br>
<ul class="margin-top-big text-center margin-bottom-huge media-list" >
    <li >
        <div>
            <a ng-repeat="message in feedPhoto.results " class="inline-block" href="#/messages/{{message.id }}" >
                <img src="{{message.photo.thumbnail}}">
            </a>
        </div>
    </li>
    <li>
        <button class="btn  btn-large margin-top-big" ng-click="loadMore()">
            <i class="icon-circle"></i>
            <i class="icon-circle"></i>
            <i class="icon-circle"></i>
        </button>
    </li>
</ul>