<div>
    <ul id="contentHeader">
        <li class="contentHeader-inner">
            <ul class="noList">
                <li>
                    <h2 class="form-signin-heading text-right">Вход</h2>
                </li>
            </ul>
        </li>
    </ul>
</div>

<ul class="media-list "  id="contentBody">
    <li class="box-border padding-huge margin-top-huge">
        <form class="form-signin ">
            <input type="text" class="input-block-level" placeholder="Логин" ng-model="username">
            <input type="password" class="input-block-level" placeholder="Пароль" ng-model="password">
            <label class="checkbox margin-Y-big">
                <input type="checkbox" value="remember-me"> Запомнить
            </label>
            <div class="margin-top-huge">
                <a class="btn btn-large btn-primary" ng-click="login(username, password)" href={{urlFeed}}>Войти</a>
                <a class="btn btn-large btn-warning margin-left" href={{urlRegistration}}>Новый</a>
            </div>
            <div class="margin-top-huge">
                <a href={[urlPassREcovery}}>Забыли пароль?</a>
            </div>
        </form>
    </li>
</ul>
