<div ng-include src='includePlaceHeader'></div>

<ul class="media-list "  id="contentBody">
    <li class="box-border padding-big  margin-bottom-huge">
        <ul class="noList">
            <li class="text-center" ng-show="preview.photo">
                <div id="message-photo">
                    <img ng-src="{{ preview.photo.reduced }}" />
                </div>
            </li>
            <li class="margin-top-big text-left">
                <ul class="noList">
                    <li ng-repeat="messageCat in new_message_categories" style="display:inline;" >
                        <div style="padding:5px;display:inline-block;margin-bottom:5px;margin-right:5px;border:1px solid #CCC;border-radius:5px;">
                            <div class="catDiv" ng-class="messageCat.alias" ng-disabled="inProgress" style="float:left"><i class="catDivI"></i></div>  
                            <button class="btn" style="float:right;margin-top:7px;margin-left:4px;" ng-click="removeCat(messageCat,$index)" ng-disabled="inProgress"><i class="icon-remove"></i></button>
                            <div style="display:inline-block;font-size:110%;padding-top:12px;white-space:nowrap;">{{messageCat.name}}</div>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="margin-top-big">
                <select class="margin-top" ng-model="add_message_category" ng-options="c.name for c in add_categories"  ng-disabled="inProgress" ng-click="addCat()">
                    <option value="" >Добавить категорию</option>
                </select>
            </li>
            <li class="margin-top-big text-center">
                <button class="btn btn-large btn-primary" ng-click="ok()" ng-disabled="inProgress">Готово!</button>
            </li>
            <li class="margin-top-big">
                {{preview.text}}
            </li>
        </ul>
    </li>
</ul>



