<div ng-include src='includePlaceHeader'></div>
<ul class="media-list" id="contentBody">
    <li class="box-border padding-big">
        <ul class="noList text-center" >
            <li>                
                <textarea name='text'
                id="messageText"
                placeholder="Напишите пару строк или прикрепите изображение, а лучше и то, и другое"
                ng-model="text" ng-init="text=''" ng-disabled="inProgress" sz-auto-resize-text-area="text" style="width:90%"></textarea>                
            </li>
            <li class="margin-top-big text-left">
                <div class="fileform">
                    <div style="display:inline-block;padding-top:9px"><i class="icon-camera icon-2x" ></i></div>
                    <input type="file" name="photo" sz-file-model="photo" ng-disabled="inProgress" id="message-edit-photo" style="padding-top:50px" />
                </div>
                <button class="btn btn-large btn-primary" ng-click="send()" ng-disabled="inProgress">Отправить</button>
            </li>
            <li class="margin-top-big" id="photoBigCont" style="display:none" >
                <div style="height:30px;display:inline-block;" >
                        <button class="btn pull-left" ng-click="remove()" ng-disabled="inProgress">
                            <i class="icon-remove " ></i>
                        </button>
                    <div  style="display:inline-block;max-width:150px;padding-top:5px;margin-left:5px" class="overflow-hidden">
                        <span id="photoPrevName"></span>
                    </div>
                </div>
                <div>
                    <span id="photoPrev">
                    </span>
                </div>
            </li>
        </ul>
    </li>
</ul>

