
<div class="box-border padding-huge margin-bottom-huge" id="secondStage">
    <div class="text-center" style="max-height:300px;overflow:hidden;">
        <div class="inline-block">
            <img ng-src="{{ previewResource.data.photo.reduced }}" />
        </div>
    </div>
  <!--  <div class="text-center margin-top-big">
        <button class="btn" data-toggle="button"  id="btnText" ng-show="previewResource.data.text" ng-click="showPreviewText=!showPreviewText" >
            <i class="icon-2x icon-reorder"></i>
        </button>
    </div>-->
    <ul class="ul-box margin-top-big text-left" >
        <li ng-repeat="messageCat in new_message_categories" style="display:inline;" >
            <div style="padding:5px;display:inline-block;margin-bottom:5px;margin-right:5px;border:1px solid #CCC;border-radius:5px;">
                <div class="catDiv" ng-class="messageCat.alias" ng-disabled="inProgress" style="float:left"><i class="catDivI"></i></div>  
                <button class="btn" style="float:right;margin-top:7px;margin-left:4px;" ng-click="removeCat(messageCat,$index)" ng-disabled="inProgress"><i class="icon-remove"></i></button>
                <div style="display:inline-block;font-size:110%;padding-top:12px;white-space:nowrap;">{{messageCat.name}}</div>
            </div>
        </li>
    </ul>
    <select class="margin-top" ng-model="add_message_category" ng-options="c.name for c in add_categories"  ng-disabled="inProgress" ng-click="addCat()">
        <option value="" >Добавить категорию</option>
    </select>
    <ul class="text-center ul-box">
        <button class="btn btn-large btn-primary" ng-click="ok()" ng-disabled="inProgress">Готово!</button>
    </ul>
    <div class="margin-top-big">
        {{previewResource.data.text}}
    </div>
<!--    <ul class="media-list">
        <li ng-repead="messageCat in messageCategories">
        </li>
        <li ng-click="shMesCatDialog=true">
            Добавить категорию
        </li>
    </ul>
    <div ng-show="shMesCatDialog" id="MesCatDialog">
        
    </div>-->
<!--     <sz-new-message-categories></sz-new-message-categories> -->
</div>

