<div>
    <ul id="contentHeader">
        <li class="contentHeader-inner">
            <ul class="noList">
                <li >
                    <a href="#/places/{{place.id }}/" class="graydark">
                        <div id="place-name-address">        
                            <h3 id="place-name-h">{{place.name}}</h3>
                            <small id="place-address">{{place.address}}</small>   
                        </div> 
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<ul class="media-list" id="contentBody">
    <li class="box-border padding-big">
        <ul class="noList text-center" >
            <li>
                <textarea name='text'
                  id="messageText"
                  placeholder="Напишите пару строк или прикрепите изображение, а лучше и то, и другое"
                  ng-model="text" ng-init="text=''" ng-disabled="inProgress"></textarea>
            </li>
            <li class="margin-top-big text-left">
                <input type="file" name="photo" sz-file-model="photo" ng-init="photo=null" ng-disabled="inProgress"/>
            </li>
            <li class="margin-top-big ">
                <button class="btn btn-large btn-primary" ng-click="send()" ng-disabled="inProgress">Отправить</button>
            </li>
        </ul>
    </li>
</ul>

