

<div class="box-border">
    <div class="box-header">
<!--        <div class="distance">
            <div>
                {{place.distance}} м
            </div>
        </div>-->
        <h3 style="margin-bottom:0;;">{{place.name}}</h3>
        <small style="line-height:10px;">{{place.address}}</small>  
    </div>
    <div class="padding-huge">
        <textarea name='text'
                  id="messageText"
                  placeholder="Напишите пару строк или прикрепите изображение, а лучше и то, и другое"
                  class="margin-Y-big" ng-model="text" ng-init="text=''"></textarea>
        <input type="file" name="photo" sz-file-model="photo" ng-init="photo=null"/>
        <ul class="text-center ul-box">
            <button class="btn btn-large btn-primary" ng-click="send()">Отправить</button>
        </ul>
    </div>
</div>

