{{r}}
<ul class="media-list" >
	<li ng-repeat="item in feed.data.results" class="media padding-bot-big box-border" >
            <a href="#/places/{{item.place.id}}" class="graydark">
                <div class="box-header">
<!--                    <a style="float:right;" >
                        <i class=" icon-chevron-right"></i>
                    </a>-->
                    <h4 style="margin:0px;margin-top:3px;" >{{item.place.name}}</h4>
                    <small >{{item.place.address}}</small>
                </div>
            </a>
            <ul class="ul-box" >
                <li class="padding-big">
                    <div ng-repeat="message in item.messages.results | limitTo:placeMessagesLimit"  class=" media" ng-class="{'messageBox':!$last}">
                        <sz-news-feed-message-box message='message' categories="categories" place="item.place"></sz-news-feed-message-box>
                    </div>
                </li>
                <li class="btn-group box-footer" ng-show="item.messages.results.length-1" >
                    <button class="btn " data-toggle="button"  ng-click="placeMessagesLimit=showAllPlaceMessages(item.messages.results.length,placeMessagesLimit)" >
                        {{showAllPlaceMessagesText(item.messages.results.length-1,placeMessagesLimit)}}
                    </button>
                </li>
            </ul>
	</li>
	<li class="text-center media margin-bottom-huge" >
            <button class="btn  btn-large " ng-click="loadMorePlaces ()">
                <i class="icon-circle"></i>
                <i class="icon-circle"></i>
                <i class="icon-circle"></i>
<!--                 <img class="media-object" src="img/ico/blue/glyphicons_187_more.png"> -->
            </button>
	</li>
</ul>

