<div  class="place_header">
    <div style="text-align:right;" >        
        <h3>{{feed.data.place.name}}</h3>
        <small style="line-height:10px;">{{place.data.address}}</small>   
    </div> 
    <div class="place_box_messages_tags" style="line-height:14px;text-align:right;" >
        <div class="catDiv" style="background:green">
            <img class="media-object" style="margin-left:6px;margin-top:5px;" src="img/ico/white/glyphicons_283_t-shirt.png" >
        </div>                                        
        <div class="catDiv" style="background:#7a43b6">
            <img class="media-object" style="margin-left:6px;margin-top:5px;" src="img/ico/white/glyphicons_284_pants.png">
        </div>    
        <div class="catDiv" style="background:#ffc40d">
            <img class="media-object" style="margin-left:6px;margin-top:5px;" src="img/ico/white/glyphicons_285_sweater.png">
        </div>    
        <div class="catDiv" style="background:#045fdb">
            <img class="media-object" style="margin-left:6px;margin-top:5px;" src="img/ico/white/glyphicons_283_t-shirt.png">
        </div>    
    </div>
    <ul class="nav nav-pills place_nav" >
        <li >
            <a ><i class="icon-rss" ng-class="'icon-3x'"></i></a>
        </li>
        <li>
            <a ><i class="icon-picture" ng-class="'icon-3x'"></i></a>
        </li>
        <li>
            <a ><i class="icon-map-marker" ng-class="'icon-3x'"></i></a>
        </li>
        <li>
            <a ><i class="icon-group" ng-class="'icon-3x'"></i></a>
        </li>
    </ul>
</div>
<ul class="media-list" >
    <li>
        <ul  style="margin-left:0;list-style:none;text-align:center;padding-bottom:0" >
            <li class=" place_box_messages_big_box" style="overflow:hidden;padding:15px;">
                <div ng-repeat="message in item.messages.results | limitTo:placeMessagesLimit" style="text-align:left;margin-top:20px" class="place_box_message">
                    <sz-feed-message-box message='message' categories="categories"></sz-feed-message-box>
                </div>
            </li>
            <li class="btn-group" style="width:100%;border-top:1px solid #CCC; padding-top:10px" ng-show="item.messages.results.length-1" >
                <button class="btn " data-toggle="button"  ng-click="placeMessagesLimit=showAllPlaceMessages(item.messages.results.length,placeMessagesLimit)" >
                    {{showAllPlaceMessagesText(item.messages.results.length-1,placeMessagesLimit)}}
                </button>
            </li>
        </ul>
    </li>
    <li style="text-align:center;margin-top:10px;">
        <button class="btn  btn-large" ng-click="loadMoreMessage ()">
            <img class="media-object" src="img/ico/blue/glyphicons_187_more.png">
        </button>
    </li>
</ul>