
<div>
    <ul id="contentHeader">
        <li class="contentHeader-inner">
            <ul class="noList">
                <li>
                    <div id="place-add-btn">
                        <a class="btn btn-large  btn-primary" type="button" href={{urlPlaceAddMessage(place.id)}} ><i class="icon-plus icon-2x" ></i></a>
                    </div>
                    <a href={{urlPlace(place.id)}} class="graydark">
                        <div id="place-name-address">        
                            <h3 id="place-name-h">{{place.name}}</h3>
                            <small id="place-address">{{place.address}}</small>   
                        </div> 
                    </a>
                </li>
                <li class="margin-top text-right">
                    <div class="circle-parent"  >
                        <a class="catDiv" ng-repeat="cat in place.category" ng-class="cat.alias" href={{urlPlaceCategory(place.id,cat.id)}}>
			    <i class="catDivI"></i>
			</a>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</div>
<ul class="media-list" id="contentBody">
    <li sz-leaflet-create-map="map" class="text-center box-border padding-Y-big  margin-bottom-huge">
        <a id="mapCont" href={{urlPlaceMap(place.id)}} >
            <div id="map" class="miniMap">
            </div>
        </a>
    </li>
    <li class="text-center box-border padding-Y-big  margin-bottom-huge">
        <div style="max-height:90px;overflow:hidden;" >
            <a ng-repeat="message in feedPhoto.results " class="inline-block" href={{urlPlaceGallery(place.id)}} >
                <img src="{{message.photo.thumbnail}}">
            </a>
        </div>
        <div class="margin-top-big">
            <a href={{urlPlaceGallery(place.id)}}>
                <button class="btn  btn-large" ng-click="loadMore()">
                    <i class="icon-circle"></i>
                    <i class="icon-circle"></i>
                    <i class="icon-circle"></i>
                </button>
            </a>
        </div>
    </li>
    <li class="box-border margin-top-big margin-bottom-huge "  ng-include src='includeMessagesArea' ></li>
    
</ul>