<!--<div class="text-center">
    <ul class="nav nav-pills place_nav graydark inline-block margin-Y-big" >
        <li class="active">
            <a  ng-click="showPlaceMessagesClick()"><i class="icon-rss" ng-class="'icon-2x'"></i></a>
        </li>
        <li >
            <a  href="#/places/{{ place.id }}/gallery "><i class="icon-picture" ng-class="'icon-2x'"></i></a>
        </li>
        <li>
            <a ><i class="icon-star" ng-class="'icon-2x'"></i></a>
        </li>
        <li>
            <a ><i class="icon-map-marker" ng-class="'icon-2x'"></i></a>
        </li>
    </ul>
</div>-->
<div  class="box-border padding-X-big padding-Y text-center">
    <div style="float:left;margin-top:10px;">
        <a class="btn btn-large  btn-primary" type="button" href="#/places/{{ place.id }}/messages/add" ><i class="icon-plus icon-2x" ></i></a>
    </div>
    <a href="#/places/{{ place.id }}/" class="graydark">
        <div style="text-align:right;margin-bottom:20px;min-height:62px;" >        
            <h3 style="margin-bottom:0;margin-top:0px;;">{{place.name}}</h3>
            <small style="line-height:10px;">{{place.address}}</small>   
        </div> 
    </a>
    <div class="text-right margin-bottom-big circle-parent"  >
        <div class="catDiv" style="background:green">
            <img class="media-object" style="margin-left:6px;margin-top:5px;" src="img/ico/white/glyphicons_283_t-shirt.png" >
        </div>                                        
        <div class="catDiv" style="background:#7a43b6">
            <img class="media-object" style="margin-left:6px;margin-top:5px;" src="img/ico/white/glyphicons_284_pants.png">
        </div>    
        <div class="catDiv" style="background:#ffc40d">
            <img class="media-object" style="margin-left:6px;margin-top:5px;" src="img/ico/white/glyphicons_285_sweater.png">
        </div>    
        <div class="catDiv" style="background:#045fdb">
            <img class="media-object" style="margin-left:6px;margin-top:5px;" src="img/ico/white/glyphicons_283_t-shirt.png">
        </div>    
    </div>
</div>
<ul class="media-list" >
    <li class="text-center box-border padding-Y-big  margin-top-big">
        <div style="max-height:90px;overflow:hidden;" >
            <a ng-repeat="message in feedPhoto.results " class="inline-block" href="#/places/{{ place.id }}/gallery " >
                <img src="{{message.photo.thumbnail}}">
            </a>
        </div>
        <div class="margin-top-big">
            <a href="#/places/{{ place.id }}/gallery ">
                <button class="btn  btn-large" ng-click="loadMore()">
                    <i class="icon-circle"></i>
                    <i class="icon-circle"></i>
                    <i class="icon-circle"></i>
                </button>
            </a>
        </div>
    </li>
    <li class="box-border margin-top-big margin-bottom-huge ">
        <ul  class="ul-box" >
            <li >
                <div ng-repeat="message in feed.results "  class="  padding-big" ng-class="{'messageBox':!$last}">
                    <sz-feed-message-box message='message' categories="categories" place="place"></sz-feed-message-box>
                </div>
            </li>
            <li  class="text-center media box-footer margin-bottom-big" >
                <button class="btn  btn-large" ng-click="loadMore()">
                    <i class="icon-circle"></i>
                    <i class="icon-circle"></i>
                    <i class="icon-circle"></i>
                </button>
            </li>
        </ul>
    </li>
    
</ul>