<div>
    <ul id="contentHeader">
        <li class="contentHeader-inner">
            <ul class="noList">
                <li >
                    <input type="text" class="search-query" ng-model="filter.query"  placeholder="Искать"  id="searchFiletrQuery" >
                    <sz-auto-complete-search></sz-auto-complete-search>
                </li>            
                <li class="margin-top-big">
                    <select ng-model="filter.category" ng-options="c.name for c in categories" style="margin:0" ng-disabled="isSearch">
                        <option value="" >Любая категория</option>
                    </select>
                    <div class="margin-top">
                        {{filter.category.description}}
                    </div>
                </li>
                <li class="margin-top-big">
                    <div class="btn-group" data-toggle="buttons-radio" >
                        <button class="btn" type="radio" ng-disabled="isSearch" ng-click="filter.radius=250;newList()" ng-class="{'active':250==filter.radius}">250m</button>
                        <button class="btn" type="radio" ng-disabled="isSearch" ng-click="filter.radius=1000;newList()" ng-class="{'active':1000==filter.radius}">1km</button>
                        <button class="btn" type="radio" ng-disabled="isSearch" ng-click="filter.radius=3000;newList()" ng-class="{'active':3000==filter.radius}">3km</button>
                        <button class="btn" type="radio" ng-disabled="isSearch" ng-click="filter.radius=0;newList()"  ng-class="{'active':!filter.radius}">city</button>
                    </div>
                </li>
                <li class="margin-top-big">
                    <button class="btn disabled"  ng-disabled="isSearch">Фото</button>
                </li>
                <li class="margin-top-big text-left">
                    <button class="btn" ng-click="clearFilter()" ng-disabled="isSearch">
                        <i class="icon-remove icon-2x" ></i>
                    </button>
                </li>
            </ul>
        </li>
    </ul>
</div>
<ul class="media-list"  id="contentBody">
    <li ng-repeat="item in searchFeed.results" class="media padding-bot-big box-border" >
        <a href="#/places/{{item.place.id}}" class="graydark">            
            <div class="box-header margin-X margin-top">
                <h4 style="margin:0px;margin-top:3px;" >{{item.place.name}}</h4>
                <small >{{item.place.address}}</small>
            </div>
        </a>
        <ul class="ul-box" >
            <li class="padding-big">
                <sz-news-feed-message-box message='item.message' categories="categories" place="item.place"></sz-news-feed-message-box>
            </li>
        </ul>
    </li>
    <li class="text-center media margin-bottom-huge" >
        <button class="btn  btn-large " ng-click="loadMore()">
            <i class="icon-circle"></i>
            <i class="icon-circle"></i>
            <i class="icon-circle"></i>
        </button>
    </li>
</ul>