<ul class="ul-box text-center" >
    <li class="media box-border padding-huge">
        <div>
            <input type="text" class="search-query" ng-model="filter.query"  placeholder="Искать" >
        </div>
        <!--<div class="margin-top-huge" sz-collapse-categories="chCat">
                <input type="button"  class="btn " value="{{chCat.name}}" id="categoryInput" ng-model="chCat.name" ng-click="showCollapseCat=!showCollapseCat">
            <div id="categories">
                <div id="categories-collapse">
                    <div class="category-string" ng-click="ChangeCategory({'name':'Любая категория',description:'',id:''})">Любая категория</div>
                    <div ng-repeat="cat in categories" class="category-string" ng-click="$emit('ChangeCategory',cat)">{{cat.name}}</div>
                </div>
            </div>
            <div class="margin-top">
                {{chCat.description}}
            </div>
        </div>-->
        <div class="margin-top-huge">
            <select ng-model="shmot_cat" ng-options="c.name for c in categories" ng-click="setCategory()">
                <option value="" >Любая категория</option>
            </select>
            <div class="margin-top">
                {{shmot_cat.description}}
            </div>
        </div>
        <div class="margin-top-huge">
            <button class="btn disabled">Фото</button>
        </div>
    </li>
    <li class="media box-border padding-huge" >
        <div class="btn-group" data-toggle="buttons-radio" >
            <button class="btn" type="radio" ng-click="filter.radius='250'">250m</button>
            <button class="btn" type="radio" ng-click="filter.radius='1000'">1km</button>
            <button class="btn" type="radio" ng-click="filter.radius='3000'">3km</button>
            <button class="btn active" type="radio" ng-click="filter.radius=''" >city</button>
        </div>
    </li>
    <li class="media box-border padding-huge">
        <div >
            <input type="text" class="search-query" ng-model="filter.query"  placeholder="Название места" >
        </div>
    </li>
    <div class="media">
        <button class="btn btn-large pull-left">Сбросить</button>
        <button class="btn btn-large pull-right">Искать</button>
    </div>
</ul>
