<div ng-include src="'partials/search-filter.html'"></div>
<ul class="media-list"  id="contentBody" ng-show="showSearchResults">
    <li ng-repeat="item in searchFeed.results" class="media padding-bot-big box-border" >
        <a href="#/places/{{item.place.id}}" class="graydark">            
            <div class="box-header margin-X margin-top">
                <h4 style="margin:0px;margin-top:3px;" >{{item.place.name}}</h4>
                <small >{{item.place.address}}</small>
            </div>
        </a>
        <ul class="ul-box" >
            <li class="padding-big">
                <sz-news-feed-message-box message='item.message' categories="categories" place="item.place"></sz-news-feed-message-box>
            </li>
        </ul>
    </li>
    <li class="text-center media margin-bottom-huge" >
        <button class="btn  btn-large " ng-click="loadMore()">
            <i class="icon-circle"></i>
            <i class="icon-circle"></i>
            <i class="icon-circle"></i>
        </button>
    </li>
</ul>