#placeArea label{color:white;margin-right:15px;}

#lessPlace{
    width:100%;
    height:15px;
    box-shadow: 2px 2px 3px black;
    -moz-box-shadow: 2px 2px 3px black;
    -webkit-box-shadow: 2px 2px 3px black;
    margin-top:5px;
    margin-bottom:5px;
    padding-top:3px;
    padding-bottom:3px;
    background:gray;
    color:white;
    border-bottom:1px solid #444;
    
}

#morePlace{
    width:100%;
    height:15px;
    box-shadow: 2px -2px 3px black;
    -moz-box-shadow: 2px -2px 3px black;
    -webkit-box-shadow: 2px -2px 3px black;
    margin-top:5px;
    margin-bottom:5px;
    padding-top:3px;
    padding-bottom:3px;
    background:gray;
    color:white;
    border-top:1px solid #444;
    
}

.geoBox {
    background:white;
    margin:4px;
    text-align: center;
    border:1px solid;
    font-size:10px;
    float:left;
    width:180px;
    height:80px;
    border-radius:5px;
}

#placeTag{
    height:100px;
 text-overflow:clip;
    overflow: hidden;}