body{font-family: Arial, Helvetica, sans-serif;}
#screen{
    position:absolute;
    left:25%;
    top:15px;
    width:240px;
    height:320px;
    border:3px solid black;
}

#mainmenu{}

#menu{
    height:30px;
    width:100%;
}

#logo{
    text-align:center;
    font-size:12px;
    color:#888;
    padding-top:7px;
    margin-left:12px;
    float:left;
    height:23px;
    cursor:pointer;
}

#city{
    float:right;
    text-align:center;
    padding-top:7px;
    height:23px;
    font-size:12px;
    color:#888;
    margin-right:12px;
}

#cityValue{
}

#sepStringTop{
    width:100%;
    height:1px;
    background:#FF9933;
}

#area{}

#tagsArea{}    

.topArea{
    height:20px;
}

.ok{
    
    font-weight: bold;
    padding-top:5px;
/*     padding-bottom:5px;*/ 
    width:70px;
    height:20px;
    text-align:center;
    color:white;
    cursor:pointer;
    background:#FF9933;
    font-size:12px;
/*     border-radius:5px; */
    /*border:2px solid; 
    box-shadow: 0px 0px 2px #888;
    -moz-box-shadow: 0px 0px 2px #888;
    -webkit-box-shadow: 0px 0px 2px #888;*/
}


#searchString{
    width:120px;
     height:20px;
    margin-top:-20px;
    margin-bottom:14px;
}
    
#tagsSearchString{
    color:#999;
    margin-top:5px;
    font-size:12px;
    width:110px;
    height:20px;
}


#tagsLeft{
    border-radius:5px;
    border:1px solid #DDD;
    float:left;
}

.changeGender{
    color:#444;
    background:white;
    width:30px;
    text-align:center;
    font-size:12px;
    cursor:pointer;
    border-radius:5px;
    border:1px solid gray;
    box-shadow: 0px 0px 2px #444;
    -moz-box-shadow: 0px 0px 2px #444;
    -webkit-box-shadow: 0px 0px 2px #444;
    padding-top:5px;
    height:15px;
}

#prevGender{
    margin-top:-10px;
    margin-bottom:7px;
}

#nextGender{
    margin-top:7px;
}

#dollyPlace{}

.dollyHead{
    cursor:pointer;
    border-radius:5px;
    border:1px solid gray;
    box-shadow: 0px 0px 2px #444;
    -moz-box-shadow: 0px 0px 2px #444;
    -webkit-box-shadow: 0px 0px 2px #444;
    background-image:url(../img/fionnaHead.png);
    height:20%;
    background-size:100% ;
}

.dollyBody{
    cursor:pointer;
    border-radius:5px;
    border:3px solid orange;
    box-shadow: 0px 0px 2px orange;
    -moz-box-shadow: 0px 0px 2px orange;
    -webkit-box-shadow: 0px 0px 2px orange;
    background-image:url(../img/fionnaBody.png);
    height:20%;
    width:105%;
    background-size:100%;
}

.dollyLegs{
    cursor:pointer;
    border-radius:5px;
    border:1px solid gray;
    box-shadow: 0px 0px 2px #444;
    -moz-box-shadow: 0px 0px 2px #444;
    -webkit-box-shadow: 0px 0px 2px #444;
    background-image:url(../img/fionnaLegs.png);
    height:31%;
    background-size:100%;
}

.dollyFoot{
    cursor:pointer;
    border-radius:5px;
    border:1px solid gray;
    box-shadow: 0px 0px 2px #444;
    -moz-box-shadow: 0px 0px 2px #444;
    -webkit-box-shadow: 0px 0px 2px #444;
    background-image:url(../img/fionnaFoot.png);
   
    height:17%;
    background-size: 100%;
}

#tagsRight{
    border-radius:5px;
    border:1px solid #DDD;
}

#tagsPlace{
    background:white;
    text-overflow:clip;
    overflow: hidden;
}

.dollyPlace{}

#dollyPopularPlace{}

#dollyHeadPlace{}

#dollyBodyPlace{}

#dollyLegsPlace{}

#dollyFootPlace{}

.moveArea{}

#dollyPopularMove{}

#dollyHeadMove{}

#dollyBodyMove{}

#dollyLegsMove{}

#dollyFootMove{}

.botArea{
    height:27px;
    padding-top:3px;
}

#lessTags{float:left;}

#moreTags{float:right;}

.lessmore_noactive{
    margin-top:10px;
    width:150px;
    height:40px;
    margin-bottom:10px;
    border-radius:5px;
}

.lessmore_active{
    margin-top:5px;
    float:left;
    width:33px;
    font-size:12px;
    text-align:center;
    margin-bottom:10px;
    padding-top:3px;
    padding-bottom:3px;
    color:white;
    background:green;
    border-radius:5px;
    border:1px solid; 
    box-shadow: 0px 0px 2px #888;
    -moz-box-shadow: 0px 0px 2px #888;
    -webkit-box-shadow: 0px 0px 2px #888;
    cursor:pointer;
}



#nosex,#female,#male,#kind{
    cursor:pointer;
    height:22%;
    border-radius:15px;
}

#nosex{ 
    border:1px solid gray;
    box-shadow: 0px 0px 2px #444;
    -moz-box-shadow: 0px 0px 2px #444;
    -webkit-box-shadow: 0px 0px 2px #444;background:white;}

#female{ 
    border:1px solid gray;
    box-shadow: 0px 0px 2px #444;
    -moz-box-shadow: 0px 0px 2px #444;
    -webkit-box-shadow: 0px 0px 2px #444;background:orange;}

#male{
    border:1px solid gray;
    box-shadow: 0px 0px 2px #444;
    -moz-box-shadow: 0px 0px 2px #444;
    -webkit-box-shadow: 0px 0px 2px #444;background:#0066FF;}

#kind{
    border:1px solid gray;
    box-shadow: 0px 0px 2px #444;
    -moz-box-shadow: 0px 0px 2px #444;
    -webkit-box-shadow: 0px 0px 2px #444;background:green;}




#sepStringBot{
    width:100%;
    height:1px;
    background:#FF9933;
}

#newmessageBox{
    text-align:center;
    border:2px none #FF9933;
    border-radius:5px;
    margin-left:5px;
    margin-right:5px;
    color:white;
    margin-top:15px;
    padding-left:2%;
    padding-right:2%;
} 

#place{
    text-overflow:clip;
    overflow: hidden;
    width:120px;
    height:20px;
    background:white;
    padding-top:3px;
    text-align:center;
    cursor:pointer;
    font-size:14px;
    font-weight: bold;
    color:#666;
    margin-top:-17px;
    border:2px solid #FF9933;
    border-radius:5px;
    float:left;
    margin-left:3px;
}

.placeValue{}

#tags{
    text-align:center;
    width:60px;
    background:white;
    padding-top:3px;
    height:20px;
    cursor:pointer;
    font-size:14px;
    font-weight: bold;
    color:#666;
    margin-top:-17px;
    border:2px solid #FF9933;
    border-radius:5px;
    float:right;
    margin-right:3px;
}

.tagsValue{}

#tagsTopArea{}

#newmessage_textValue{
    font-size:12px;
    margin-top:20px;
    width:90%;
    overflow: hidden;
    resize: none;
    outline: none;
    -moz-appearance: none;
    padding-top:0.1em;
    padding-bottom:0.15em;
    padding-right:0.6em;
    padding-left:0.6em;
    box-shadow: 0px 0px 1px #CCC;
    
    border-radius: 5px;
    border:1px solid #CCC;
}

#newmessage_Add{
    font-weight: bold;
    margin-top:5px;
    margin-bottom:5px;
    display:none;
    width:120px;
    height:17px;
    padding-top:5px;
    text-align:center;
    font-size:12px;
    cursor:pointer;
    background:green;
    border:2px solid; 
    border-radius:5px;
    box-shadow: 0px 0px 2px #888;
    -moz-box-shadow: 0px 0px 2px #888;
    -webkit-box-shadow: 0px 0px 2px #888;
}

.tagBox{
    cursor:pointer;
    border-radius:5px;
    border:1px solid gray;
    box-shadow: 0px 0px 2px #444;
    -moz-box-shadow: 0px 0px 2px #444;
    -webkit-box-shadow: 0px 0px 2px #444;
    color:#444;
    margin:4px;
    text-align: center;
    font-size:10px;
    float:left;
    width:66px;
    height:66px;
}

.tagBoxImage{
margin-left:7px;
    width:51px;
    height:51px;
    background-image:url(../img/shirt.png);
    background-size: 100%;
}

.tagBoxSelect{
    cursor:pointer;
    border-radius:5px;
    border:3px solid #FF9900;
    box-shadow: 0px 0px 4px orange;
    -moz-box-shadow: 0px 0px 4px orange;
    -webkit-box-shadow: 0px 0px 4px orange;
    color:#444;
    margin:1px;
    text-align: center;
    font-size:10px;
    float:left;
    width:68px;
height:68px;
}

