body{font-family: Arial, Helvetica, sans-serif;} 
#screen{
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
/*    width:240px;
    height:320px;*/
    /*width:500px;
    height:500px;*/
    border:3px solid black;
}*/

#mainmenu{
}

#feedMenu,#searchMenu,#sendMenu{
    cursor:pointer;
    text-align:center;
    background:white;
    cursor:pointer;
    color:#666;
    border:1px solid #FF9933;
    border-radius:5px;
}

#tagsArea{}    

#topArea{
    border-bottom:1px solid #999;
}

#logo{
    cursor:pointer;
    font-weight: bold;
    float:left;
    margin-left:2%;
    text-align:center;
     color:#666;
}


#city{
    cursor:pointer;
    padding-left:2%;
    color:#666;
    float:right;
}

#recomedation{
    cursor:pointer;
    padding-left:2%;
    padding-right:2%;
    padding-top:2%;
    padding-bottom:2%;
    color:#666;
    font-size:73%;
    float:right;
}

#recomedation>span{
    background:white;
    border:1px solid #999;
    padding:3px;
    border-radius:10px;
}



#searchArea{
}

#placeArea{
    border-radius:5px;
    border:1px solid #DDD;
}

.lessmore_active{
    position:relative;
    color:#444;
    /*background-image:url(../img/finn.png);
    background-size:100% ;*/
    text-align:center;
    cursor:pointer;
    border-radius:5px;
    border:1px solid gray;
    box-shadow: 0px 0px 2px #444;
    -moz-box-shadow: 0px 0px 2px #444;
    -webkit-box-shadow: 0px 0px 2px #444;
    background: #50a627;
 }

#lessPlace{
    float:left;
}

#morePlace{
    float:left;
    
}

#staticPlace{
   
    background:white;
    text-overflow:clip;
    overflow: hidden;
}

#movePlace{background:gray;}

#searchString{
    background:white;
    border:1px solid gray;
    box-shadow: 0px 0px 2px #444;
    border-radius:5px;
}
    
#searcStringIcn{
    float:left;
    background-image:url(../img/searchGr.png);
    background-size:100% ;
}
    
#tagsSearchString{
    outline:none;
    border:none;
    float:left;
    color:#999;
}


#tagsLeft{
    position:relative;
    border-radius:5px;
    border:1px solid #DDD;
    float:left;
}

.changeGender{
    background: #50a627;
    color:#444;
    background-image:url(../img/finn.png);
    background-size:100% ;
    text-align:center;
    cursor:pointer;
    border-radius:5px;
    border:1px solid gray;
    box-shadow: 0px 0px 2px #444;
    -moz-box-shadow: 0px 0px 2px #444;
    -webkit-box-shadow: 0px 0px 2px #444;
}

#prevGender{
}

#nextGender{
}

#dollyPlace{}

.dollyHead{
    cursor:pointer;
    border-radius:5px;
    border:1px solid gray;
    box-shadow: 0px 0px 2px #444;
    -moz-box-shadow: 0px 0px 2px #444;
    -webkit-box-shadow: 0px 0px 2px #444;
    background-image:url(../img/fionnaHead.png);
    height:20%;
    background-size:100% ;
}

.dollyBody{
    cursor:pointer;
    border-radius:5px;
    border:3px solid orange;
    box-shadow: 0px 0px 2px orange;
    -moz-box-shadow: 0px 0px 2px orange;
    -webkit-box-shadow: 0px 0px 2px orange;
    background-image:url(../img/fionnaBody.png);
    height:20%;
    width:105%;
    background-size:100%;
}

.dollyLegs{
    cursor:pointer;
    border-radius:5px;
    border:1px solid gray;
    box-shadow: 0px 0px 2px #444;
    -moz-box-shadow: 0px 0px 2px #444;
    -webkit-box-shadow: 0px 0px 2px #444;
    background-image:url(../img/fionnaLegs.png);
    height:31%;
    background-size:100%;
}

.dollyFoot{
    cursor:pointer;
    border-radius:5px;
    border:1px solid gray;
    box-shadow: 0px 0px 2px #444;
    -moz-box-shadow: 0px 0px 2px #444;
    -webkit-box-shadow: 0px 0px 2px #444;
    background-image:url(../img/fionnaFoot.png);
   
    height:17%;
    background-size: 100%;
}

#tagsRight{
    position:relative;
    border-radius:5px;
    border:1px solid #DDD;
}

#tagsPlace{
    
    background:white;
    text-overflow:clip;
    overflow: hidden;
}

.dollyPlace{}

#dollyPopularPlace{}

#dollyHeadPlace{}

#dollyBodyPlace{}

#dollyLegsPlace{}

#dollyFootPlace{}

.moveArea{}

#dollyPopularMove{}

#dollyHeadMove{}

#dollyBodyMove{}

#dollyLegsMove{}

#dollyFootMove{}

.botArea{}

#lessmoreTags{
    float:right;
}

#lessTags{float:right;}

#moreTags{float:right;}

.lessmore_noactive{
}



.tagBox,.geoBox,.geoBoxSelect{
    cursor:pointer;
    border-radius:5px;
    border:1px solid gray;
    box-shadow: 0px 0px 2px #444;
    -moz-box-shadow: 0px 0px 2px #444;
    -webkit-box-shadow: 0px 0px 2px #444;
    color:#444;
    text-align: center;
    float:left;
}

.tagBoxSelect,.geoBoxSelect{
    cursor:pointer;
    border-radius:5px;
    border:1px solid #FF6600;
    box-shadow: 0px 0px 2px #FF9933;
    -moz-box-shadow: 0px 0px 2px #FF9933;
    -webkit-box-shadow: 0px 0px 2px #FF9933;
    color:#444;
    text-align: center;
    float:left;
}

.tagBoxImage{
    background-image:url(../img/pants.jpg);
    background-size: 100%;
}


.tagMessageBox{
    cursor:pointer;
    background:#959595;
    padding:5px;
    border-radius:5px;
     box-shadow: 0px 0px 4px #888;
    -moz-box-shadow: 0px 0px 4px #888;
    -webkit-box-shadow: 0px 0px 4px #888;
    border:1px solid white;
    color:white;
    float:left;
    margin:3px;
}

.newMessage{
    color:#666;
}

.myusername{
}

.myuserpic{
    float:left;
    background-image:url(../img/userpic.jpg);
    background-size: 100%;
}

.messageText{
    overflow: hidden;
    resize: none;
    outline: none;
    -moz-appearance: none;
    padding-top:0.1em;
    padding-bottom:0.15em;
    padding-right:0.6em;
    padding-left:0.6em;
    box-shadow: 0px 0px 1px #CCC;
    border-radius:0px 0px  5px 5px;
    border:1px solid #CCC;
}

.sendmessage{
    display:none;
    background: #50a627;
    border:2px solid white;
    color:#444;
     border-radius:5px;
    border:1px solid gray;
    box-shadow: 0px 0px 2px #444;
    -moz-box-shadow: 0px 0px 2px #444;
    -webkit-box-shadow: 0px 0px 2px #444;
    
}


.message{
    position:relative;
    border-radius:5px;
    border:1px solid gray;
    box-shadow: 0px 0px 2px #444;
    -moz-box-shadow: 0px 0px 2px #444;
    -webkit-box-shadow: 0px 0px 2px #444;
    color:#444;
}

.messageLeft{
    background: red;
    float:left;
}

.shop{
    text-align:center;
    background:#50a627;
    color:white;
    background: green;
}

.user{
    float:right;
    background-image:url(../img/userpic.jpg);
    background-size: 100%;
}

.messageTag{
    float:left;
    background: blue;
}

.messageText{
    text-overflow:clip;
    overflow: hidden;
    background:olive;
}