body{
    font-family: Arial, Helvetica, sans-serif;
    color:#333;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;}

header{
    border-bottom:1px solid #ababab;
    top:0px;
}

a,span{
    display:block;
    cursor:pointer;
    background-repeat: no-repeat;
    background-size: contain;
    text-decoration:none;
}

a,a:link,a:visited,a:active{text-decoration:none;color:#333;}
a:hover{color:#e28c1d;}

#messageAuthor>span,#distance>span,header a, nav span{display:inline;}


#user{
  cursor:pointer;
  float:right;
  margin-top:0.1em;
  margin-right:0.2em;
  
}

#menuOverflow{
    position:fixed;
    top:0;
    left:0;
    opacity:0.6;
    z-index:9999;
    overflow:hidden;
    width:100%;
    height:100%;
    display:none;
    
    background: #b5a642;
    background: -moz-radial-gradient(30% 20%, circle, #FFF,#c3c844,#b5a642, #a3963c);
    background: -webkit-radial-gradient(30% 20%, circle, #FFF,#c3c844,#b5a642, #a3963c);
    background: -o-radial-gradient(30% 20%, circle, #FFF,#c3c844,#b5a642, #a3963c);
    background: -ms-radial-gradient(30% 20%, circle, #FFF,#c3c844,#b5a642, #a3963c);
    background: radial-gradient(30% 20%, circle, #FFF,#c3c844,#b5a642, #a3963c);
}


#menu{
    overflow:hidden;
    display:none;
    z-index:9999;
    position:fixed;
    top:10%;
    
    border:1px solid #e28c1d;
    
    -webkit-box-shadow: 0px 0px 10px #535818;
    -moz-box-shadow: 0px 0 10px #535818;
    filter: progid:DXImageTransform.Microsoft.dropshadow(offX=0, offY=0, color=#535818);
    box-shadow: 0px 0 10px #535818;
    
    
    background: #b5a642;
    background: -moz-radial-gradient(30% 20%, circle, #FFF,#c3c844,#b5a642, #a3963c);
    background: -webkit-radial-gradient(30% 20%, circle, #FFF,#c3c844,#b5a642, #a3963c);
    background: -o-radial-gradient(30% 20%, circle, #FFF,#c3c844,#b5a642, #a3963c);
    background: -ms-radial-gradient(30% 20%, circle, #FFF,#c3c844,#b5a642, #a3963c);
    background: radial-gradient(30% 20%, circle, #FFF,#c3c844,#b5a642, #a3963c);
    
    text-shadow: 2px 2px 2px white;
}


#menu>a{display:block;text-align:center;color:#556832;}
#menu>a:hover{color:#e28c1d;}

.top{width:100%;}

#searchString{
    cursor:text;
    border:1px solid #ababab;
}

#searchString>a{background-image:url(../img/search.png);}

#searchString>input{
    margin:0px;
    resize: none;
    outline: none;
    -moz-appearance: none;
    display:block;
    border:none;
    
}
aside{position:fixed;}

#pageUp{background-image:url(../img/pageUp.png);}
#feedPlaces{background-image:url(../img/castle.png);}
#feedMessages{background-image:url(../img/messages.png);}

nav{
    text-align:center;
}

#all{}
#nearby{}

#feed{float:right;}

textarea{   text-decoration:none;
    width:100%;
    resize: none;
    outline: none;
    -moz-appearance: none;
    border:1px solid #ababab;
    color:#666;
    margin:0;
}

#newmessageAdd{
    margin-right:-2px;
    float:right;
    background-image:url(../img/newmessage.png);
}

#placeProfile,#searchString>a,#messageDetail{float:right;}


ul{display:block;padding-left:0;width:100%;}

#shopBox{text-align:right;}

#placeProfile,#messageDetail{background-image:url(../img/arrowRight.png);}

#shopName{font-weight: bold;}

#messageAuthor>span:hover,.tagBox:hover,#owner span:hover{color:#e28c1d;}

article{border-bottom:1px solid #ababab;display:block;}

#messageAuthor>span{font-weight: bold;}

#messageUserpic{background-image:url(../img/userpic.png);float:left;}
places
.tagBox{float:left;text-decoration:underline;}

#shopBox,#messageAuthor>span,.tagBox,#owner span{cursor:pointer;color:#4f4f4f;}

#shopName,#shopAddress,article>div{overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}

#messageText{white-space:pre-wrap}

#placeBox{color:#4f4f4f;text-align:right;}

#castleIco{
    float:right;
    cursor:auto;
    background-image:url(../img/castle.png);
}


#owner span{display:inline;float:none;font-weight: bold;}
#crown{background-image:url(../img/owner.png);float:left;}

#tshirt{background-image:url(../img/tshirt.png);}
#socks{background-image:url(../img/socks.png);}
#pants{background-image:url(../img/pants.png);}
#sarafan{background-image:url(../img/sarafan.png);}
#trousers{background-image:url(../img/trousers.png);}
#skirt{background-image:url(../img/skirt.png);}
#shirt{background-image:url(../img/shirt.png);}


#mapLink{background-image:url(../img/mapLink.png);}
#tagLink{background-image:url(../img/tagLink.png);}
#feedLink{background-image:url(../img/feedLinkSelected.png);}

#mapArea{text-align:right;}

#map{width:100%;}

#tagArea{display:none;}
#fsq_details_link{background-image:url(../img/4sqIcn.png);}



body{font-size:1em}
#shopAddress,.tagBox,#distance,#mesPowerString{ font-size: 0.7em; }
header,#shopName{font-size:1.1em}
header{height:1.6em;padding-top:0.4em;margin-bottom:0.6em;}
a{height:2em;width:2em;}
span{height:3.5em;width:3.5em;}
#menu>a{
    margin-bottom:1em;
    height:1em;
    width:auto;
}

#crown{height:1.1em;width:1.1em;}
aside{padding-top:2px;}
nav{margin-bottom:0.6em;}
nav>span{margin-left:10%;}
article{margin-bottom:0.6em;}
#messageUserpic{margin-left:1em;}
article>div{padding-left:0.4em;}
#messageTagsArea{height:1em;margin-top:0.1em;margin-bottom:0.1em;}
#messageText{
    margin-bottom:0.4em;
    max-height:2.5em;
    min-height:1em;}
#placeBox{margin-top:0.2em;margin-bottom:0.6em;height:2.2em;}
#castleIco{margin-top:-1.3em}
#owner{margin-top:0.4em;}
#owner span{margin-left:0.2em;}
#newmessageArea{margin-bottom:0.4em;}
aside>a{margin-bottom:1em;}
#shopName{padding-right:0.4em;}
#shopAddress{padding-right:0.6em;}
textarea{padding:0.2em;height:1.2em;}
#shopBox,#placeDescr{height:2.2em;}
#mesPowerString{margin-bottom:0.4em;}

@media screen and (min-width: 800px)  {aside>a,#searchString>a{height:1.5em;width:1.5em;}}


/* Сверстать под айфон!! */