body{font-family: Arial, Helvetica, sans-serif;}

#mainmenu{
    margin-left:-15px;
    margin-right:-15px;
    background:white;
    height:auto;
    top:0px;
    right:0px;
    text-align:center;
    font-weight: bold;
}

#menu{
height:45px;
    width:100%;
    background:white;
    color:white;
}
    


    


#place,#tags{background:white;padding:0.3em;cursor:pointer;font-size:16px;font-weight: bold;color:#666;margin-top:-17px;border:2px solid #FF9933;border-radius:5px;}

#tags{float:right;margin-right:5px;}
#place{float:left;margin-left:5px;}

#city{float:right;background:white;padding:0.3em;cursor:pointer;font-size:16px;font-weight: bold;color:#666;border:2px solid #FF9933;border-radius:5px;margin-right:20px;}

#logo{text-align:left;color:#888;margin-left:10px;float:left;padding:0.3em;cursor:pointer;}

#tagsTopArea{padding-top:17px;}
.close{margin-right:8px;margin-left:-2px;color:gray}



#sepStringTop{
    box-shadow: 3px -3px 4px #888;
    -moz-box-shadow: 3px -3px 4px #888;
    -webkit-box-shadow: 3px -3px 4px #888;
    width:100%;
    height:1px;
    background:#FF9933;
}

#sepStringBot{
    width:100%;
    height:1px;
    background:#FF9933;
}


#area{
    width:100%;
    color:black;
    text-align:center;
}



.tagTopBox{
    cursor:pointer;
    background:#959595;
    padding:5px;
    border-radius:5px;
     box-shadow: 0px 0px 4px #888;
    -moz-box-shadow: 0px 0px 4px #888;
    -webkit-box-shadow: 0px 0px 4px #888;
    border:1px solid white;
    color:white;
    float:left;
    margin:3px;
    font-size:1em;
}


#feed{
    text-align:center;
    width:90%;
    margin-left:5%;
}

.areaTop{
height:70px;
}

.ok{
margin-left:15px;
margin-top:10px;
float:left;
    padding:15px;
color:white;
    cursor:pointer;
    background:#FF9933;
    border-radius:18px;
   border:1px solid; 
    box-shadow: 0px 0px 2px #888;
    -moz-box-shadow: 0px 0px 2px #888;
    -webkit-box-shadow: 0px 0px 2px #888;
}

.sortType{
margin-top:10px;
}

.searchDiv{padding-top:10px;float:right;margin-right:15px;}

.lessmore_noactive{
    margin-top:10px;
    width:150px;
    height:40px;
  
    margin-bottom:10px;
    border-radius:5px;
}

.lessmore_active{
    margin-top:10px;
    width:150px;
  
    margin-bottom:10px;
    padding-top:10px;
    padding-bottom:10px;
    color:white;
    background:green;
    border-radius:12px;
   border:1px solid; 
    box-shadow: 0px 0px 2px #888;
    -moz-box-shadow: 0px 0px 2px #888;
    -webkit-box-shadow: 0px 0px 2px #888;
    cursor:pointer;
}

.sort_active{
border:2px solid #FF9933;
padding:3px;
color:#444;
font-size:0.8em;
cursor:pointer;
margin-right:-3px;
margin-lef:-3px;
}

.sort_noactive{
font-weight: normal;
margin-top:1px;
    box-shadow: 0px 0px 2px #666;
    -moz-box-shadow: 0px 0px 2px #666;
    -webkit-box-shadow: 0px 0px 2px #666;
padding:4px;
color:#444;
font-size:0.8em;
cursor:pointer;
}



