<div ng-init='places = {"meta":{"code":200},"data":[
{"name": "Benetton","address": "Большая Садовая, 302-бис, пятый этаж, кв. № 50)","messages":{"count": 31,"results": [{"username": "pauk_slon", "id": 90, "date": "2013-01-04T15:38:17.029Z", "text": "nsjhf jhgrfkhkjshf dhiugyhiutnhi gjrhdiuh vhudheuyrt yiuhjhskjehr fegruydgdk cgjhre 250!", "things": ["sgfjhgf","sjdhfjgh","kfjhnjh","sdfhjdf"]},{"username": "pauk_slon", "id": 90, "date": "2013-01-04T15:38:17.029Z", "text": "nsjhf jhgrfkhkjshf dhiugyhiutnhi gjrhdiuh vhudheuyrt yiuhjhskjehr fegruydgdk cgjhre 250!", "things": ["sgfjhgf","sjdhfjgh","kfjhnjh","sdfhjdf"]},{"username": "pauk_slon", "id": 90, "date": "2013-01-04T15:38:17.029Z", "text": "nsjhf jhgrfkhkjshf dhiugyhiutnhi gjrhdiuh vhudheuyrt yiuhjhskjehr fegruydgdk cgjhre 250!", "things": ["sgfjhgf","sjdhfjgh","kfjhnjh","sdfhjdf"]}]}}, 
{"name": "1", "address": "Большая Садовая, 302-бис, пятый этаж, кв. № 50)", "messages": {"count": 4,"results": [{"username": "pauk_slon", "id": 90, "date": "2013-01-04T15:38:17.029Z", "text": "nsjhf jhgrfkhkjshf dhiugyhiutnhi gjrhdiuh vhudheuyrt yiuhjhskjehr fegruydgdk cgjhre 250!", "things": ["sgfjhgf","sjdhfjgh","kfjhnjh","sdfhjdf"]},{"username": "pauk_slon", "id": 90, "date": "2013-01-04T15:38:17.029Z", "text": "nsjhf jhgrfkhkjshf dhiugyhiutnhi gjrhdiuh vhudheuyrt yiuhjhskjehr fegruydgdk cgjhre 250!", "things": ["sgfjhgf","sjdhfjgh","kfjhnjh","sdfhjdf"]},{"username": "pauk_slon", "id": 90, "date": "2013-01-04T15:38:17.029Z", "text": "nsjhf jhgrfkhkjshf dhiugyhiutnhi gjrhdiuh vhudheuyrt yiuhjhskjehr fegruydgdk cgjhre 250!", "things": ["sgfjhgf","sjdhfjgh","kfjhnjh","sdfhjdf"]}]}},
{"name": "Benetton", "address": "Большая Садовая, 302-бис, пятый этаж, кв. № 50)", "messages": {"count": 31,"results": [{"username": "pauk_slon", "id": 90, "date": "2013-01-04T15:38:17.029Z", "text": "nsjhf jhgrfkhkjshf dhiugyhiutnhi gjrhdiuh vhudheuyrt yiuhjhskjehr fegruydgdk cgjhre 250!", "things": ["sgfjhgf","sjdhfjgh","kfjhnjh","sdfhjdf"]},{"username": "pauk_slon", "id": 90, "date": "2013-01-04T15:38:17.029Z", "text": "nsjhf jhgrfkhkjshf dhiugyhiutnhi gjrhdiuh vhudheuyrt yiuhjhskjehr fegruydgdk cgjhre 250!", "things": ["sgfjhgf","sjdhfjgh","kfjhnjh","sdfhjdf"]},{"username": "pauk_slon", "id": 90, "date": "2013-01-04T15:38:17.029Z", "text": "nsjhf jhgrfkhkjshf dhiugyhiutnhi gjrhdiuh vhudheuyrt yiuhjhskjehr fegruydgdk cgjhre 250!", "things": ["sgfjhgf","sjdhfjgh","kfjhnjh","sdfhjdf"]}]}},
{"name": "1", "address": "Большая Садовая, 302-бис, пятый этаж, кв. № 50)", "messages": {"count": 7,"results": [{"username": "pauk_slon", "id": 90, "date": "2013-01-04T15:38:17.029Z", "text": "nsjhf jhgrfkhkjshf dhiugyhiutnhi gjrhdiuh vhudheuyrt yiuhjhskjehr fegruydgdk cgjhre 250!", "things": ["sgfjhgf","sjdhfjgh","kfjhnjh","sdfhjdf"]},{"username": "pauk_slon", "id": 90, "date": "2013-01-04T15:38:17.029Z", "text": "nsjhf jhgrfkhkjshf dhiugyhiutnhi gjrhdiuh vhudheuyrt yiuhjhskjehr fegruydgdk cgjhre 250!", "things": ["sgfjhgf","sjdhfjgh","kfjhnjh","sdfhjdf"]},{"username": "pauk_slon", "id": 90, "date": "2013-01-04T15:38:17.029Z", "text": "nsjhf jhgrfkhkjshf dhiugyhiutnhi gjrhdiuh vhudheuyrt yiuhjhskjehr fegruydgdk cgjhre 250!", "things": ["sgfjhgf","sjdhfjgh","kfjhnjh","sdfhjdf"]}]}}
]}'></div>	

	
<ul class="media-list" id="searchTextResults">
	<li ng-repeat="place in places.data" class="media">
		
		<div class="media-body place_box">
		    <a class="pull-right" href="{{place.shmotzhmot_details_url}}" style='margin-top:8px'><i class="icon-chevron-right"></i></a> 
			<div class="place_address">
			    <div><strong>{{place.name}}</strong></div>
			    <div style='margin-top:-5px'><small>{{place.address}}</small></div>
			    
			</div>
			<div class="place_box_messages">
			<h6 style="margin:0">{{place.messages.results[0].username}}</h6>
			Messages: {{place.messages.count}}
			</div>
		</div>
	</li>
</ul>


	
