a,img{
    outline: none;
    -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}
input[type="text"]{
    border:1px solid #bbb;
    min-width:45px;
}

#logo{
    margin-left:5px;
}



.place_box{
    padding-bottom:8px;
    border-bottom:1px solid rgb(51,51,51);
}

.place_box_info{
    height:43px;
}

.place_address{
    cursor:pointer;
    float:none;
    text-align:right;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}



.place_box_messages{
   margin-top:3px;
}

.place_box_messages_tags{
    max-height:30px;
    overflow: hidden;
    text-overflow:ellipsis;
}

.place_box_messages_text{
    max-height:63px;
    overflow: hidden;
    text-overflow:ellipsis;
}

.place_box_messages_photo{
    text-align:center;
    display:none;
}


#menuSlide{
    position:fixed;
    bottom:0;
    z-index:1030;
    background:white;
}

#menutop{
    background-color:transparent;
    background-image:none;
    background: #e75480;
/*     #b5a642, #808000 */
    background: -moz-linear-gradient(top,  #ffa500, #cc5500); /* Firefox 3.6+ */
    /* Chrome 1-9, Safari 4-5 */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefcea), color-stop(100%,#f1da36));
    /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(top, #ffa500, #cc5500);
    background: -o-linear-gradient(top,  #ffa500, #cc5500); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffa500, #cc5500); /* IE10 */
    background: linear-gradient(top, #ffa500, #cc5500); /* CSS3 */ 
    
}


#menubottom{
    padding:5px 0 ;
    border-right:1px solid silver;
    border-left:1px solid silver;
    border-color:silver;
    border-radius: 15px 15px 0 0;
}

#logo{
    color:#EEE;
    text-shadow:none;
}

#charLabel{
    color: rgb(51, 51, 51);
    
}


.tabs-below>.nav-tabs{
    position:absolute;
    bottom:0;
}

.modal{
    margin-left:0;
    margin-top:0;
    max-height:none;
    overflow: hidden;
    text-overflow:ellipsis;
}
.modal-body{
    max-height:none;
}

#menutop>ul{
    margin:0;
}



.navitem{
    min-width:30px;
    max-width:160px;
    text-align:center;
}

/*.navbar .nav > li > a:focus, .navbar .nav > li > a:hover  {
    background-color:#e28705;
}*/

.pager{
    margin:0;
}

.mybtn>li>a{
    padding:10px 19px 10px 19px ;
    max-width:25px;
    width:25px;
    min-height:25px;
/*     border-color:rgb(51,51,51); */
    box-shadow:none !important;
    background: #AAA; /* Старые браузеры */
    background: -moz-radial-gradient(#AAA, #777); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0, center center, 100%, 
                color-stop(0%,#55ddff), color-stop(100%,#0081b5)); /* Chrome, Safari4+ */
    background: -webkit-radial-gradient(#AAA, #777); /* Chrome 10+, Safari 5.1+ */
    background: -o-radial-gradient(#AAA, #777); /* Opera 12 */
    background: -ms-radial-gradient(#AAA, #777); /* IE10 */
    background: radial-gradient(#AAA, #777); /* CSS3 */
}

.mybtn>li>a:hover{
    background: #ffa500; /* Старые браузеры */
    background: -moz-radial-gradient(#ffa500, #cc5500); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0, center center, 100%, 
                color-stop(0%,#55ddff), color-stop(100%,#0081b5)); /* Chrome, Safari4+ */
    background: -webkit-radial-gradient(#ffa500, #cc5500); /* Chrome 10+, Safari 5.1+ */
    background: -o-radial-gradient(#ffa500, #cc5500); /* Opera 12 */
    background: -ms-radial-gradient(#ffa500, #cc5500); /* IE10 */
    background: radial-gradient(#ffa500, #cc5500); /* CSS3 */
}



.dropdown-menu {
    min-width:10px;
    padding-right:8px;
    padding-left:8px;
}

#searchString{
    text-align:left;
    padding:0;
    margin:10px 0 ;
    background-image:none;
    background-color:transparent;
    border:none;
    box-shadow:none;
    border-radius:0;
}

.place_box_messages_tag{
    margin-right:4px;
    float:left;
    text-decoration:underline;
    color:#888;
}

.place_box_messages_box_mes{
    float:left;
    width:100%;
}