a{
    outline: none;
    -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}
input[type="text"]{
    border:1px solid #CCC;
    min-width:45px;
}

textarea{  
    text-decoration:none;
    width:100%;
    resize: none;
    outline: none;
    -moz-appearance: none;
    border:1px solid #CCC;
    border-radius:10px;
    margin:0;
}

textarea:focus{
    border:1px solid #049cdb;
}

#logo{
    margin-left:5px;
}



.place_box{
    padding-bottom:8px;
    border-bottom:1px solid #AAA;
}


.placeList_box_info{
padding-top:3px;
    
}

.place_address{
    cursor:pointer;
    float:none;
    text-align:right;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    height:40px;
}

.place_box_messages_wrapper{
/*     overflow: hidden; */
/* border:2px solid black; */
/* background:orange; */
overflow-y:hidden;
}

.place_box_messages{
   margin-top:3px;
}

.place_box_messages_tags{
    max-height:30px;
    overflow: hidden;
    text-overflow:ellipsis;
}

.place_box_messages_text{
    max-height:63px;
    overflow: hidden;
    text-overflow:ellipsis;
}

.place_box_messages_photo{
    text-align:center;
    display:none;
    margin-bottom:10px;
}



#menutop{
    background-image:none;
    background: #e75480;
/*     #b5a642, #808000 */
    background: -moz-linear-gradient(top,  #ffa500, #d17100); /* Firefox 3.6+ */
    /* Chrome 1-9, Safari 4-5 */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa500), color-stop(100%,#d17100));
    /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(top, #ffa500, #d17100);
    background: -o-linear-gradient(top, #ffa500, #d17100); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffa500, #d17100); /* IE10 */
    background: linear-gradient(top, #ffa500, #d17100); /* CSS3 */ 
    
}

.nav>li>a{
    outline: none;
    -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#menubottom{
/*     padding:5px 0 ; */
    border-right:1px solid silver;
    border-left:1px solid silver;
    border-color:silver;
    border-radius: 15px 15px 0 0;
}



#menutop>ul{
    margin:0;
}



.navitem{
    width:30px;
    text-align:center;
    border-radius:10px;
}


.pager{
    margin:0;
}

.navitem>li>a{
    padding:8px 14px;       
}



.btnMy:hover,#shmot_filter_btn:hover{
    border-color: #049cdb;
    box-shadow:0 0 2px #049cdb;
}

.btnMy{
    padding:8px 14px;
}

.btnMy,#shmot_filter_btn{
    border:1px solid #CCC;
    border-radius:15px;
    background:white;
    color:#999
}

.btnDisable{
    opacity:0.3;
    cursor:default;
    border:1px solid #EFEFEF;
    background:#EFEFEF;
}

.btnDisable:hover{
    border-color: #EFEFEF;
    box-shadow:none;
}

#shmot_filter_btn{
    height:40px;
/*     width:48px; */
    float:right;
}


/*
.navbar .nav > li > a:focus,.navbar .nav > li > a:hover {
    
    background: #ffa500; /* Старые браузеры */
    background: -moz-radial-gradient#ffa500, #d17100); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0, center center, 100%, 
                color-stop(0%,#ffa500), color-stop(100%,#d17100)); /* Chrome, Safari4+ */
    background: -webkit-radial-gradient(#ffa500, #d17100); /* Chrome 10+, Safari 5.1+ */
    background: -o-radial-gradient(#ffa500, #d17100); /* Opera 12 */
    background: -ms-radial-gradient(#ffa500, #d17100); /* IE10 */
    background: radial-gradient(#ffa500, #d17100); /* CSS3 */
}*/




.dropdown-menu {
    min-width:10px;
    padding-right:8px;
    padding-left:8px;
}

#searchString{
    text-align:left;
    padding:0;
    margin:10px 0 ;
    background-image:none;
    background-color:transparent;
    border:none;
    box-shadow:none;
    border-radius:0;
}



.place_box_messages_box_mes{
/*     width:33%; */
    float:left;
    
}
.place_box_messages_datetime{
/*     padding:1px 0; */
    text-align:center;
    margin-bottom:5px;
/*     overflow-x: hidden; */
    text-overflow:ellipsis;
    white-space: nowrap;
}

.place_box_messages_author{
    margin:0;display:inline;margin-left:3px;line-height:16px;
}

.foursquare_ico{
    padding:2px;
    color:#049cdb;
    border-radius:15px;
    background:#049cdb;
}

#shmot_filter_overlflow{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1040;
    background:rgb(51,51,51);
    opacity:0.85;
}

#shmot_filter,.shmot_category_info{
    border-radius:15px;
    text-align:center;
    position:fixed;
/*     height:90%; */
/*     top:5%; */
    z-index:1050;
    padding:10px;
    background:white;
    border:1px solid #AAA;
}

.shmot_category_info{
    z-index:1051;
/*     display:none; */
/*    margin-left:82px;
    margin-top:-31px;*/
    overflow:hidden;
}

.shmot_category_info_name{
    font-size:110%;
    height:20px;
    overflow:hidden;
}
.shmot_category_info_cont{
    overflow:hidden;
    margin:10px 0;
    font-weight:normal;
}

.shmot_box{   
    cursor:pointer;
    border-radius:15px;
    font-weight:bold;
    font-size:75%;
/*    width:110px;
    height:54px;*/
    margin:5px;
    float:left;
    border:1px solid #049cdb;
}

.shmot_box_name{
    margin-left:3px;
    float:left;
    margin-top:7px;
/*    width:74px;
    height:40px;*/
    overflow:hidden;
}
