body{
    background:#EEEEEE;
}

time{
    display:block;
    line-height:9px;
    font-size:80%;
    text-align:center;
}

select,select:focus,opttion,opttion:focus{
    text-decoration:none;
    outline: none;
    -moz-appearance: none;
    outline:none;
}


a{
    outline: none;
    -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

input[type="text"]{
    border:1px solid #CCC;
    min-width:45px;
}

textarea{  
    text-decoration:none;
    width:100%;
    resize: none;
    outline: none;
    -moz-appearance: none;
    border:1px solid #CCC;
    border-radius:10px;
    margin:0;
}

textarea:focus{
    border:1px solid #049cdb;
}

.btn:checked,.btn:active,.btn:focus{
    outline: none;
    -moz-appearance: none;
    outline:none;
}

.nav>li>a{
    outline: none;
    -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#logo>span{
    font-weight:bold;
    font-size:90%;
}

#logo>span>span{font-size:120%;}

#btn-user{
/*     max-width:100%; */
    cursor:pointer;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    font-weight:bolder;
    font-size:110%;
    text-align:center;
}

#collapseMenu{
    overflow:hidden;
    max-height:0;
    box-shadow:0 0 4px #AAA;
    background:#333;
    padding:0 5px;
    margin-top:-20px;
    margin-right:-20px;
    margin-left:-20px;
    border-radius:0 0 5px 5px;
    margin-bottom:20px;
}

#collapseMenu>ul{
    margin-top:5px;
}

#collapseMenu>ul>li>a{color:#EEE;text-shadow:1px 0 2px #666}
#collapseMenu>ul>li>a:hover{color:#333;text-shadow:none}

/*#btn-category{
    display:inline-block;
    width:250px;
    border:1px solid red;
}*/

/*#categories{
    overflow:hidden;
    max-height:0;
}

#categories-collapse{
    display:inline-block;
    box-shadow:0 0 4px #AAA;
    width:auto;
    padding: 0 5px 5px 5px;
    margin-top:3px;
    margin-bottom:3px;
    border-radius:5px;
}

.category-string{
    padding:5px 0;
}
.category-string:hover{background:#EEE}*/

.box-border{
    background:white;
    border:1px solid #CCC;
    border-radius:5px;
    box-shadow:0 0 4px #AAA;
    cursor:pointer;
}

.box-header{
    margin-bottom:-10px;
    padding:5px 5px;
    border-bottom:1px solid #CCC;
    text-align:right;
}

.box-footer{
    width:100%;
    border-top:1px solid #CCC;
    padding-top:10px;
    text-align:center;
}

.box-hide{
    text-align:center;
    display:none;
    margin-bottom:10px;
}

.circle-parent{
    padding-left:10px;
    padding-right:10px;
    margin-top:5px;
    overflow: hidden;
    text-overflow:ellipsis;
/*     max-height:90px; */
}

.circle-parent>div{
    margin-top:4px;
    margin-right:6px;
    display:inline-block;
    width:35px;
    height:35px;
    border-radius:25px;
    border:2px solid white;
    box-shadow: 0 0 4px #666;
    cursor:pointer;
}

.circle-parent>div:hover{
    box-shadow: 0 0 4px black;
}

/*.max-h-big{
    overflow: hidden;
    text-overflow:ellipsis;
    max-height:70px;
}*/

.max-h{
    max-height:63px;
    overflow: hidden;
    text-overflow:ellipsis;
}

.ul-box{
    margin-left:0;
    list-style:none;
    padding-bottom:0;
    margin-top:10px;
}

.foursquare-icon{
    float:left;
    margin-right:5px;
    width:64px;
    height:64px;
    border:2px solid white;
    box-shadow: 0 0 4px #666;
    background:#666;
    border-radius:5px;
}

.padding-big{padding:10px;}

.padding-huge{padding:20px;}

/* .padding-top{padding-top:5px;} */

/* .padding-left-big{padding-left:10px;} */

/* .padding-bot{padding-bottom:5px;} */

.padding-bot-big{padding-bottom:10px;}

/* .padding-right-big{padding-right:10px;} */

.padding-Y{
    padding-top:5px;
    padding-bottom:5px;
}

.padding-X-big{
    padding-left:10px;
    padding-right:10px;
}



.margin-top{margin-top:5px;}

/* .margin-top-big{margin-top:10px;} */

.margin-top-huge{margin-top:20px;}

.margin-bottom-big{margin-bottom:10px;}

.margin-left{margin-left:5px;}

.margin-Y-big{
    margin-top:10px;
    margin-bottom:10px;
}

.text-center{text-align:center;}

.text-right{text-align:right;}

/* .text-left{text-align:left;} */

.graydark,.graydark>li>a{color:#333;}

/* .gray{color:#444} */

.inline-block{
    display:inline-block;
    cursor:pointer;
}







