body{
    background:#EEEEEE;
}

time{
    display:block;
    line-height:9px;
    font-size:80%;
    text-align:center;
}

select,select:focus,opttion,opttion:focus{
    text-decoration:none;
    outline: none;
    -moz-appearance: none;
    outline:none;
}


a{
    outline: none;
    -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

input[type="text"]{
    border:1px solid #CCC;
    min-width:45px;
}

textarea{  
    text-decoration:none;
    width:100%;
    resize: none;
    outline: none;
    -moz-appearance: none;
    border:1px solid #CCC;
    border-radius:10px;
    margin:0;
}

textarea:focus{
    border:1px solid #049cdb;
}

.btn:checked,.btn:active,.btn:focus{
    -moz-appearance: none;
    outline:none;
}

.nav>li>a{
    outline: none;
    -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.overflow{
    position:fixed;
    width:100%;
    height:100%;
}

#overflow{
    z-index:1500;
    background:silver;   
    opacity:0.6;
}

#spinner{
    z-index:1501;
    text-align:center;
}

#spinner>i{
    top:50%;
    position:fixed;}

#logo>span{
    font-weight:bold;
    font-size:90%;
}


#logo>span>span{font-size:120%;}

/*#logo>span:hover {
  text-shadow: -1px 0    1px #333,
               0    -1px 1px #333,
               1px  0    1px #333,
               0    1px  1px #333;
}*/

#btn-user{
/*     max-width:100%; */
    cursor:pointer;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    font-weight:bolder;
    font-size:110%;
    text-align:center;
}

#collapseMenu{
    text-align:left;
    overflow:hidden;
    max-height:0;
    box-shadow:0 0 4px #AAA;
    background:#333;
    padding:0 5px;
    padding-left:20px;
/*     margin-top:-20px; */
}

#collapseMenu>ul{
    margin-top:5px;
}

#collapseMenu>ul>li>a{color:#EEE;text-shadow:1px 0 2px #666}
#collapseMenu>ul>li>a:hover{color:#333;text-shadow:none}

#emotionsParent{
    text-align:center
}

.emotion{
    display:inline-block;
    margin-left:5px;
    margin-right:5px;
    width:40px;
    height:40px;
    background:green;
}

#angry{}
#indifferent{}
#happy{}


#search-place-list{
    display:inline-block;
    border:1px solid #CCC;
    min-width:218px;
}

#search-place-list>div{
    padding:3px 5px;
}
#search-place-list>div:hover{background:#EEE}

.foursquare-icon{
    float:left;
    margin-right:10px;
    width:64px;
    height:64px;
    border:2px solid white;
    box-shadow: 0 0 4px #666;
    background:#666;
    border-radius:5px;
}

.distance{
    text-align:right;
    line-height:20px;
    font-weight:bold;
}
.distance>div{
    padding:5px 7px;
    display:inline-block;
    border-radius:20px;
    box-shadow:0 0 4px #AAA;
    border:2px solid white;
/*     background:#ffc40d; */
/*     background:#66CC00; */
    color:#AAA;
    text-shadow:1px 0px rgba(0, 0, 0, 0.25);
}

.place-list-box:hover{
    text-decoration:none;
}

.thumb {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
  }


#cat-select>option:active,#cat-select>option:focus,#cat-select>option:checked{
    background:red;
}
  
  
#photo{
    text-align:center;
    overflow:hidden;
    margin-top:5px;
    min-height:55px;
}
#photo>a{
    max-width:100%;
}

#autoCompleteParent{
/*     border:1px solid black; */
    display:none;
    position:absolute;
    z-index:1000;
    width:90%;
    left:5%;
    text-align:left;
/*     padding:0 16px; */
    overflow:hidden;
    text-overflow:ellipsis;
    
}

#autoComplete{
    background:white;
    border:1px solid #CCC;
    margin:0 15px;
/*     display:inline-block; */
    padding:3px 7px;
    border-top:none;
}

.messageBox{
    border-bottom:1px solid #CCC;
}

.box-border,.page-header{
    background:white;
    border:1px solid #CCC;
    border-radius:5px;
    box-shadow:0 0 4px #AAA;
    cursor:pointer;
}

.page-header{
/*     background:#99CCCC; */
/*     box-shadow:none; */
    border-radius:0;
    border:none;
    position:relative;
    /*border-color:#049cdb;
    box-shadow:0 0 4px #049cdb;*/
}

.box-header{
    margin-bottom:-10px;
    padding:5px 5px;
    border-bottom:1px solid #CCC;
    text-align:right;
}

.box-footer{
    width:100%;
    border-top:1px solid #CCC;
    padding-top:10px;
    text-align:center;
}

.box-hide{
    text-align:center;
    display:none;
    margin-bottom:10px;
}

.circle-parent{
    /*padding-left:10px;
    padding-right:10px;*/
    padding:3px;
    margin-top:5px;
    overflow: hidden;
    text-overflow:ellipsis;
/*     min-height:50px; */
    
/*     max-height:90px; */
}

.catDiv{
/*     float:left; */
    margin-top:4px;
    margin-right:6px;
    display:inline-block;
    width:35px;
    height:35px;
    border-radius:25px;
    border:2px solid white;
    box-shadow: 0 0 4px #666;
    cursor:pointer;
/*     text-align:center; */
    overflow:hidden;
}

.catDiv:hover{box-shadow: 0 0 4px black;}
.catDivI{
/*     vertical-align:-30%; */
    display: inline-block;
    margin-top:6px;
    margin-left:6px;
    width:23px;
    height:23px;
    background-size:100% 100%;
/*     background-color:red; */
}

.skirts{background-color:#FF6666;}
.skirts>i{background-image:url("../img/ico/categories/skirt.png" );}

.head{background-color:green;}
.head>i{background-image:url("../img/ico/categories/hat.png" );}

.suits{background-color:gray;}
.suits>i{background-image:url("../img/ico/categories/suit.png" );}

.socks{background-color:#CC6600;}
.socks>i{background-image:url("../img/ico/categories/socks.png" );}

.top1{background-color:#045fdb;}
.top1>i{background-image:url("../img/ico/categories/glyphicons_283_t-shirt.png" );}

.top2{background-color:#339999;}
.top2>i{background-image:url("../img/ico/categories/glyphicons_285_sweater.png" );}

.shoes{background-color:#ffc40d;}
.shoes>i{background-image:url("../img/ico/categories/shoes.png" );}

.trousers{background-color:#666633;}
.trousers>i{background-image:url("../img/ico/categories/glyphicons_284_pants.png" );}

.outer{background-color:#7a43b6;}
.outer>i{background-image:url("../img/ico/categories/outer.png" );}

.accessories{background-color:#99CC00;}
.accessories>i{background-image:url("../img/ico/categories/umbr.png" );}

.under{background-color:#330066;}
.under>i{background-image:url("../img/ico/categories/under.png" );}

.bags{background-color:#990000;}
.bags>i{background-image:url("../img/ico/categories/bags.png" );}

/*.max-h-big{
    overflow: hidden;
    text-overflow:ellipsis;
    max-height:70px;
}*/

.max-h{
    max-height:63px;
    overflow: hidden;
    text-overflow:ellipsis;
}

.ul-box{
    margin-left:0;
    list-style:none;
    padding-bottom:0;
    margin-top:10px;
}


/* .padding{padding:5px;} */

.padding-big{padding:10px;}

.padding-huge{padding:20px;}

/* .padding-top{padding-top:5px;} */

/* .padding-left-big{padding-left:10px;} */

/* .padding-bot{padding-bottom:5px;} */

.padding-bot-big{padding-bottom:10px;}

/* .padding-right-big{padding-right:10px;} */

.padding-Y{
    padding-top:5px;
    padding-bottom:5px;
}

.padding-Y-big{
    padding-top:10px;
    padding-bottom:10px;
}

.padding-X{
    padding-left:5px;
    padding-right:5px;
}

.padding-X-big{
    padding-left:10px;
    padding-right:10px;
}



.margin-top{margin-top:5px;}

.margin-top-big{margin-top:10px;}

.margin-top-huge{margin-top:20px;}

.margin-bottom-big{margin-bottom:10px;}

.margin-bottom-huge{margin-bottom:20px;}

.margin-left{margin-left:5px;}

.margin-Y-big{
    margin-top:10px;
    margin-bottom:10px;
}

.margin-X{
    margin-left:5px;
    margin-right:5px;
}


.text-center{text-align:center;}

.text-right{text-align:right;}

/* .text-left{text-align:left;} */

.graydark,.graydark>li>a{color:#333;}

/* .gray{color:#444} */

.inline-block{
    display:inline-block;
    cursor:pointer;
}



body{text-align:center;}
#content{
    text-align:justify;
    display:inline-block;
    width:100%;
    max-width:800px;
/*     margin-top:20px; */
}

@media screen and (max-width: 799px) and (min-width: 767px) {
    #content{width:90%;}
}

@media screen and (max-width:766px) {
    #collapseMenu{
        margin-right:-20px;
        margin-left:-20px;
    }
}


