
select,select:focus,opttion,opttion:focus{
    text-decoration:none;
    outline: none;
    -moz-appearance: none;
    outline:none;
}


a{
    outline: none;
    -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

input[type="text"]{
    border:1px solid #CCC;
    min-width:45px;
}

textarea{  
    text-decoration:none;
    width:100%;
    resize: none;
    outline: none;
    -moz-appearance: none;
    border:1px solid #CCC;
    border-radius:10px;
    margin:0;
}

textarea:focus{
    border:1px solid #049cdb;
}

.btn:checked,.btn:active,.btn:focus{
    outline: none;
    -moz-appearance: none;
    outline:none;
}

#logo{
    margin-left:5px;
}

body{
    background:#EEEEEE;
}

.place_box{
   /*  width:96%;
    margin-left:2%;*/
    background:white;
    padding-bottom:10px;
    border:1px solid #CCC;
    border-radius:5px;
    box-shadow:0 0 4px #AAA;
}

.place_header{
    text-align:center;
    min-height:100px;
    background:white;
    margin-top:-25px;
    padding:5px 10px;
    box-shadow:0 0 4px #AAA;
    border:1px solid #CCC;
    border-radius:5px;
}

.place_nav{
    display:inline-block;
    margin-top:10px;
}


.place_nav>li>a{
    color:#333;
}

.place_nav>li>a:hover,.place_nav>li>a:focus{
    background:#EEEEEE;
}


.nav-collapse{
    background:#333;
}

.place_top{
    margin-bottom:-10px;
    padding:5px 5px;
    border-bottom:1px solid #CCC;
/*    -webkit-box-shadow: 0 8px 6px -6px red;
    -moz-box-shadow: 0 8px 6px -6px red;
        box-shadow: 0 8px 6px -6px red;*/
}

.place_address{
    cursor:pointer;
    float:none;
    text-align:right;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    max-height:70px;
    
}


.place_box_messages_tags{
    margin-top:5px;
    max-height:70px;
    overflow: hidden;
    text-overflow:ellipsis;
    padding:0 5px;
}

.catDiv{
    margin-top:4px;
    margin-right:6px;
    display:inline-block;
    width:35px;
    border-radius:25px;
    height:35px;
    border:2px solid white;
    box-shadow: 0 0 3px #333;
}
.catDiv:hover{
    border-color:#049cdb;
    box-shadow: 0 0 4px #049cdb;
}
.place_box_messages_text{
    max-height:63px;
    overflow: hidden;
    text-overflow:ellipsis;
}

.place_box_messages_photo{
    text-align:center;
    display:none;
    margin-bottom:10px;
}



#menutop>ul{
    width:100%;
    background-image:none;
    background: #ff7200;
/*     #b5a642, #808000 */
    background: -moz-linear-gradient(top,  #ffa500, #d17100); /* Firefox 3.6+ */
    /* Chrome 1-9, Safari 4-5 */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa500), color-stop(100%,#d17100));
    /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(top, #ffa500, #d17100);
    background: -o-linear-gradient(top, #ffa500, #d17100); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffa500, #d17100); /* IE10 */
    background: linear-gradient(top, #ffa500, #d17100); /* CSS3 */ 
    
}

#menutop>ul{
    padding:8px 0px;
}

/*#menutop{
    background:#ff8800;
    border-top:5px solid #333;
}*/

.nav>li>a{
    outline: none;
    -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#menubottom{
/*     padding:5px 0 ; */
    border-right:1px solid silver;
    border-left:1px solid silver;
    border-color:silver;
    border-radius: 15px 15px 0 0;
}



#menutop>ul{
    margin:0;
}



.navitem{
    width:30px;
    text-align:center;
}



.navitem>li>a{
    padding:8px 14px;       
}





.btnDisable{
    opacity:0.3;
    cursor:default;
    border:1px solid #EFEFEF;
    background:#EFEFEF;
}

.btnDisable:hover{
    border-color: #EFEFEF;
    box-shadow:none;
}


#searchWindow{
    text-align:center;
    padding:0;
    margin:10px 0 ;
    background-image:none;
    background-color:transparent;
    border:none;
    box-shadow:none;
    border-radius:0;
}

.place_box_messages_author{
    margin:0;display:inline;margin-left:3px;line-height:16px;
}

.foursquare_ico{
    padding:2px;
    color:#049cdb;
    border-radius:15px;
    background:#049cdb;
}

#searchWindowInner{
    overflow:hidden;
}


/*#menubottom,#searchWindow{
    width:90%;
    margin-left:5%;
}*/

#content{
   
}

time{display:block}

