<!DOCTYPE html>
<html ng-app="sz.client">
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <script src="js/libs/jquery/jquery-1.9.1.min.js"></script>
        <link rel="stylesheet" href="css/bootstrap/css/bootstrap.css">
         <script src="css/bootstrap/js/bootstrap.js"></script> 
        <link rel="stylesheet" href="css/color.css">
        <link rel="stylesheet" href="css/FortAwesome-Font-Awesome-13d5dd3/css/font-awesome.min.css">
        
        <title>SZ</title>
            
        <script src="js/libs/angularjs/1.0.5/angular.min.js"></script>
        <script src="js/libs/angularjs/1.0.5/angular-resource.min.js"></script>
        <script src="js/libs/angularjs/1.0.5/angular-cookies.min.js"></script>

        <script src="js/services.js"></script>
        <script src="js/directives.js"></script>
        <script src="js/controllers.js"></script>
        <script src="js/app.js"></script>
</head>
<body ng-controller="MasterPageController"  sz-change-scroll-to-up="changeScrollToUp()" sz-change-scroll-to-down="changeScrollToDown()" sz-determ-eq="searchString" sz-collapse-top-menu="collapseTopMenu" >
<div id="overflow" class="overflow" ng-show="isGetInProgress"></div>
<div id="spinner" class="overflow" ng-show="isGetInProgress">
    <i class="icon-spinner icon-spin icon-2x "></i>
</div>

        <div class="navbar navbar-static-top " >
            <div class="navbar-inner" >   
                <div class="container" style="height:49px;">
                    <button type="button" class="btn btn-navbar" style="margin-top:2px;" ng-click="collapseTopMenu=!collapseTopMenu">
                        <i class="icon-reorder icon-2x" ></i>
                    </button>
                    <a class="brand " href="#/newsfeed" style="margin-top:3px;">
                        <span>shmotzhmot.me</span>
                    </a>
                </div>
            </div>
        </div>
        
        <div  id="collapseMenu" >
            <ul class="nav nav-pills nav-stacked" >
<!--            <li class="active">
                    <a href="#/newsfeed">Лента</a>
                </li>-->
                <li>
                    <a href='#/search' id="btn_search"  ng-click="collapseTopMenu=false">
                        <span>Искать</span>
                    </a>
                </li>
                <li ng-show="showBtnNewMessage">
                    <a ng-click="collapseTopMenu=false;" href="">
                        <span>{{user.username}}</span>
                    </a>
                </li>
                <li ng-show="showBtnNewMessage">
                    <a ng-click="collapseTopMenu=false;logout()" style="cursor:pointer" >
                        <span>Выход</span>
                    </a>
                </li>
            </ul>
        </div>

        
        <div  ng-view class="content" id="content" ng-show="showContent" class="margin-top-huge"></div>
        
        <div class="navbar navbar-fixed-bottom navbar-inverse"  ng-show="showBotMenuPanel" style="position:fixed">
            <div class="navbar-inner ">
                <div class="padding-X-big">
                    <ul class="nav " >
                        <li>
                            <sz-scrolling-to-top  top="scrollToTop.top"></sz-scrolling-to-top>
                            <a href="" id="btn_page_scroll_Up" class="navitem" ng-click="scrollToTop.top = true" > 
                                <i class="icon-arrow-up icon-2x" style="margin-top:5px;"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav" style="float:right" ng-show="showBtnNewMessage">                    
                        <li>
                            <a id="btn-user">
                                <div id="castle_info_val" style="margin-top:-2px;">
                                    <div><span class="badge badge-success">200</span></div>
                                    <div><span class="badge badge-warning">4</span></div>
                                </div>
<!--                                 <i class="icon-user icon-2x" style="margin-top:3px;margin-right:-3px;"></i> -->
                            </a>
                        </li>
                        <li >
                            <a href="#/place_list" id="btn-newmessage" > 
                                <button class="btn btn-primary " style="margin:0;">
                                    <i class="icon-edit icon-2x" ></i>
                                </button>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav" style="float:right" ng-show="!showBtnNewMessage">
                        <li>
                            <a href="#/login" id="btn-signin" > 
                                <button class="btn btn-primary " style="margin:0;">
                                    <i class="icon-signin icon-2x" ></i>
                                </button>
                            </a>
                        </li>
                    </ul>
               </div>
            </div>
        </div>
 

 

 
</body>
</html>