<!DOCTYPE html>
<html ng-app="sz.client">
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <script src="js/libs/jquery/jquery-1.9.1.min.js"></script>
        <link rel="stylesheet" href="css/bootstrap/css/bootstrap.css">
         <script src="css/bootstrap/js/bootstrap.js"></script> 
        <link rel="stylesheet" href="css/color.css">
        
        <title>SZ</title>
            
        <script src="js/libs/angularjs/1.1.2/angular.min.js"></script>
        <script src="js/libs/angularjs/1.1.2/angular-resource.min.js"></script>
        <script src="js/services.js"></script>
        <script src="js/directives.js"></script>
        <script src="js/controllers.js"></script>
        <script src="js/app.js"></script>
</head>
<body ng-controller="MasterPageController"  sz-change-scroll-to-up="changeScrollToUp()" sz-change-scroll-to-down="changeScrollToDown()" sz-display-filter="searchString">
    
<!--    <div id="shmot_filter_overlflow" ng-show="showShmotFilter" ng-click="showShmotFilter=false;showContent=true;showBotMenuPanel = true;">
    </div>
    <div id="shmot_filter" ng-show="showShmotFilter" >
        <div style="width:366px;height:265px" id="shmotInner" >
            <span class="shmot_box" ng-repeat="shmotCat in shmot_category.data" >
                <div class="shmot_box_name" ng-click="$emit('ChangeCategory', {'id':shmotCat.id,'name':shmotCat.name})">
                    {{shmotCat.name}}
                </div>
                <button class="btnMy shmot_btn_info" style="margin-top:6px;" ng-click="showShmotCatInfo=true">
                    <img class="media-object" src="img/ico/blue/glyphicons_195_circle_info.png">
                </button> 
                <div class="shmot_category_info" ng-show="showShmotCatInfo" >
                    <div class="shmot_category_info_name">
                        {{shmotCat.name}}
                    </div>
                    <div class="shmot_category_info_cont">
                        {{shmotCat.description}}
                    </div>
                    <button class="btnMy" ng-click="showShmotCatInfo=false">
                        <img class="media-object" src="img/ico/blue/glyphicons_224_chevron-left.png">
                    </button> 
                    <button class="btnMy" ng-click="showShmotCatInfo=false;$emit('ChangeCategory', {'id':shmotCat.id,'name':shmotCat.name})">
                        <img class="media-object" src="img/ico/blue/glyphicons_206_ok_2.png">
                    </button> 
                </div>
            </span>
        </div>
        <button class="btnMy" ng-click="showShmotFilter=false;showContent=true;showBotMenuPanel = true;">
            <img class="media-object" src="img/ico/blue/glyphicons_207_remove_2.png">
        </button>
    </div>-->
 
    <div id="feed" >
        <div class="navbar navbar-static-top "  id="menuPanel" ng-show="showMenuPanel" style="z-index:1030;position:absolute;top:0;left:0">
            <div class="navbar-inner" id="menutop" style="padding:0">            
                <ul class="nav " > 
                    <li>
                        <a href='#' class="navitem" id="btn_feed" >
                           <img class="media-object" src="img/ico/white/glyphicons_355_bullhorn.png">
                        </a>
                    </li>
                    <li>
                        <a href='#' class="navitem" id="btn_game_event">
                            <img class="media-object" src="img/ico/white/glyphicons_009_magic.png">
                        </a>
                    </li>
                    <li>
                        <a href='#' class="navitem" id="btn_map">
                            <img class="media-object" src="img/ico/white/glyphicons_340_globe.png">
                        </a>
                    </li>
                    <li>
                        <a href='#' class="navitem" id="btn_char">
                            <img class="media-object" src="img/ico/white/glyphicons_352_nameplate.png">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div  id="searchWindow"  >
            <div  id="searchWindowInner" style="text-align:center">
                <div style="width:100%;height:47px;" >  
		    <button class="btnMy" style="margin-right:3px;margin-left:3px;font-size:85%;padding:9px 14px;" ng-repeat="distance in distanceList">
			{{distance}}
		    </button>
                </div>
                <div style="width:100%;height:47px;" > 
		    <input type="text" class="search-query" placeholder="Искать" >
                </div>
                <div  id="shmotFilter" style="with:100%;height:100px;" >
		    <select ng-model="shmot_cat" ng-options="c.name for c in categories">
			 <option value="">Любая категория</option>
		    </select>
		</div>
		<div id="shmot_category_info" style="font-size:80%">
		    {{shmot_cat.description}}
		</div>
            </div>
            <div style="height:47px;" >
		<div id="logo" style="padding:0px 3px;float:left;color:#555" ng-show="showContent">
		    <h5 style="line-height:16px">shmotzhmot.me</h5>
		</div>
                <button ng-click="showSearchWin=!showSearchWin" class="btnMy" style="float:left;border-radius:0 0 15px 15px;border-top:1px solid white;margin-top:-2px" ng-show="showSearchWin">
                    <img class="media-object" src="img/ico/blue/glyphicons_206_ok_2.png">
                </button>
                <button ng-click="showSearchWin=!showSearchWin" class="btnMy" style="float:right;border-radius:0 0 15px 15px;border-top:1px solid white;margin-top:-2px">
                    <img class="media-object" src="img/ico/blue/glyphicons_027_search.png">
                </button>
            </div>
        </div>
        
        
        
        <div  ng-view class="content" id="content" ng-show="showContent"></div>
      

        
        <div class="navbar navbar-fixed-bottom navbar-inverse"  ng-show="showBotMenuPanel" >
            <div class="navbar-inner" id="menubottom" >
                <ul class="nav " style="width:100%"  >
                    <li>
			<sz-scrolling-to-top  top="scrollToTop.top">
			</sz-scrolling-to-top>
			<a href="" id="btn_page_scroll_Up" class="navitem" ng-click="scrollToTop.top = true" > 
			    <img class="media-object" src="img/ico/white/glyphicons_213_up_arrow.png">
			</a>
			
                    </li>
                       <li >
                        <a href="#/new_message" id="btn_new_message" class="navitem"> 
                          <img class="media-object" src="img/ico/white/glyphicons_150_edit.png">
                        </a>
                    </li>
          <!--          <li >
                        <a href="#" id="btn_search" class="navitem"> 
                           <img class="media-object" src="img/ico/white/glyphicons_027_search.png">
                        </a>
                    </li>-->
                    <li style="float:right">
                        <div id="castle_info_val" style="margin-right:12px;">
                            <div><span class="badge badge-success">2</span></div>
                            <div><span class="badge badge-warning">4</span></div>
                        </div>
                    </li>
                </ul>
               
            </div>
        </div>
 
 
 
    </div>

    
    
   <script type="text/javascript"> 
    function pageSize(){
        var winWidth = $(window).width();
        var winHeight = $(window).height();
        var topmenuWidth = $("#menutop>ul").width();
        var contentMargin = 10;
        var contentMarginL = 5;
        var searchStringWidth = 200;
        
        if (winWidth>800){
            if(winWidth>1200){
                var feedWidth = winWidth*0.4;
            }
            if(1000<winWidth&&winWidth<1199){
                var feedWidth = winWidth*0.5;
            }
            if(winWidth&&winWidth<999){
                var feedWidth = winWidth*0.6;
            }
            var feedMarginL = (winWidth - feedWidth)*0.5;
            
        }
        else{
            var feedWidth = winWidth-contentMargin*2.5;
            var feedMarginL = contentMargin;
            var shmotFilterHeight = winHeight*0.8;
            if(winWidth<340){
                var searchStringWidth = feedWidth -235;
            }
        }

        
        var contentWidth = feedWidth - contentMarginL*2;

        $("#searchWindow input[type='text']").width(searchStringWidth);

        
        $("#menubottom").width(feedWidth).css({marginLeft:feedMarginL+'px'});
        $("#content,#searchWindow").width(contentWidth).css({marginLeft:contentMarginL+feedMarginL+'px'});
        
        var menutopMarginL = feedMarginL+(feedWidth-topmenuWidth)*0.5;
        $("#menutop").width(winWidth)
        $("#menutop>ul").css({marginLeft:menutopMarginL});
        

        
    }
        
    
    pageSize()

   </script>
 
</body>
</html>