<div class="margin-Y-big">
    <button class="btn " ng-click="clearFilter()" ng-disabled="isSearch" style="margin-right:5px;">
        <i class="icon-remove " ></i>
    </button>
    <div class="btn-group  margin-left" data-toggle="buttons-radio"  ng-show="!isLocation" style="margin-left:5px;">                                            
        <button class="btn btnSmall" type="radio" ng-disabled="isSearch" ng-click="setRadius(250)" ng-class="{'active':250==filter.radius}">250m</button>
        <button class="btn btnSmall" type="radio" ng-disabled="isSearch" ng-click="setRadius(1000)" ng-class="{'active':1000==filter.radius}">1km</button>
        <button class="btn btnSmall" type="radio" ng-disabled="isSearch" ng-click="setRadius(3000)" ng-class="{'active':3000==filter.radius}">3km</button>
        <button class="btn btnSmall" type="radio" ng-disabled="isSearch" ng-click="setRadius(0)"  ng-class="{'active':!filter.radius}">city</button>
    </div>
</div>