{% extends "feed/base.html" %}
{% load static %}
{% block script %}
    {{ block.super }}
    <script src="http://code.jquery.com/jquery-1.8.2.js"></script>
    <script type="text/javascript" src={% static "feed/js/sz.api.js"%}></script>
    <script type="text/javascript" src={% static "feed/js/jquery.cookie.js"%}></script>
    <script type="text/javascript" src={% static "feed/js/jquery.autoResize.js"%}></script>
    <link rel="stylesheet" href={% static "feed/css/styles.css"%}>
{% endblock %}
{% block header %}
    {{ block.super }}
    <section id='user' class='logIn'>
        <input id="auth_login_url" type="hidden" value="{% url auth_login %}?next={{ request.get_full_path }}"/>
        {% if user.is_authenticated %}
            @{{ user }} | <a href="{% url auth_logout %}?next={{ request.get_full_path }}">log out</a>
        {% else %}
            <a href="{% url auth_login %}?next={{ request.get_full_path }}">log in</a> | <a href="{% url registration_register %}">sign up</a>
        {% endif %}
    </section>
{% endblock %}
