{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name = "viewport" content = "width = device-width"/>
    <meta charset="utf-8" />
    <title>SZ Light</title>
    <script src="http://code.jquery.com/jquery-1.8.2.js"></script>
    <script type="text/javascript" src={% static "js/sz.api.js"%}></script>
    <script type="text/javascript">
        function distance(lng1, lng2, lat1, lat2){
            var latlen = 40000000/360;
            var k = Math.cos(Math.PI/180 * (lat1 + lat2)/2);
            var lnglen = k * latlen
            return Math.sqrt((lng1 - lng2)*lnglen*(lng1 - lng2)*lnglen
                    + (lat1 - lat2)*latlen*(lat1 - lat2)*latlen);
        }
        var szApi = new sz.Api({uri: '../api/',request_func: $.ajax});
        var oldQuery = null;
        var position = {};
        function getFeed(api, query, isMessage, nearby, viewFeedFunc)
        {
            navigator.geolocation.getCurrentPosition(function(data) {
                var latitude = data.coords.latitude;
                var longitude = data.coords.longitude;
                var accuracy = data.coords.accuracy;

                position.longitude = longitude;
                position.latitude = latitude;

                params =
                {
                    latitude: latitude,
                    longitude: longitude
                }
                if (isMessage)
                    params.message = query;
                else
                    params.place = query;
                if (nearby)
                    params.nearby = '';
                api.get('places/',
                        params,
                        function(response){ viewFeedFunc(response);});
            });
        }

        function viewMessages(messages)
        {
            var html = '<ul>';
            $.each(messages, function(i, message) {
                html += '<li> <em>' + new Date(message.date).toDateString() + '</em> ' + message.text + '</li>'
            });
            html += '</ul>';
            return html;
        }
        function viewFeed(response){
            if(response.meta.code == 200)
            {
                var html = '';
                html += '<ul>';
                $.each(response.data, function(i, place){
                    html += '<li>' + place.name;
                    if (place.address != null)
                        html += ', ' + place.address;
                    dist = Math.floor(distance(position.longitude, place.longitude,
                            position.latitude, place.latitude));
                    html += ', ' + dist + 'm';
                    html += viewMessages(place.messages.results);
                    html += '</li>';
                });
                html += '</ul>';
                $('#feed').html(html);
            }
            if (response.meta.code == 403)
            {
                document.location = '/api-auth/login/?next=/light/'
            }
        }
        function refreshFeed(){
            $('#feed').html('Loading...');
            var nearby = $('#nearby').is(':checked');
            var isMessage = $('#message').is(':checked');
            var query = $('#query').val();
            getFeed(szApi, query, isMessage, nearby, viewFeed);
        }
        function detectQueryChange(){
            var query = $('#query').val();
            if (oldQuery != query){
                refreshFeed();
                oldQuery = query;
            }
            setTimeout(detectQueryChange, 3000);
        }
        $(document).ready(function () {
            oldQuery = $('#query').val();
            refreshFeed();
            setTimeout(detectQueryChange, 5000);
        });

        function queryOnKeyPressHandler(obj, e){
            var keycode = null;
            if (window.event) keycode = window.event.keyCode;
            else if (e)
                keycode = e.which;
            else return;
            if (keycode == 13)
            {
                refreshFeed();
            }
        }
    </script>
</head>
<body>
<div id="parameters">
    <label for="query">Search</label>
    <input type="search" id="query" onKeyPress="return queryOnKeyPressHandler(this,event)"/>
    <br/>
    <label for = "message">things</label>
    <input type = "radio"
           name = "what"
           id = "message"
           value = "message"
           checked = "checked"
           onchange="refreshFeed();" />
    or
    <label for = "place">places</label>
    <input type = "radio"
           name = "what"
           id = "place"
           value = "place"
           onchange="refreshFeed();" />

    <label for="nearby">nearby</label>
    <input id="nearby" type="checkbox" title="nearby" onchange="refreshFeed();"/>
</div>
<div id="feed">
</div>
</body>
</html>