{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name = "viewport" content = "width = device-width"/>
    <meta charset="utf-8" />
    <title>SZ Light</title>
    <script src="http://code.jquery.com/jquery-1.8.2.js"></script>
    <script type="text/javascript" src={% static "js/sz.api.js"%}></script>
    <script type="text/javascript" src={% static "js/sz.light.js"%}></script>
    <script type="text/javascript">
        var lightController = null;
        function detectChange()
        {
            lightController.detectControlTextChange(lightController);
        }
        function initializeController(controller){
            navigator.geolocation.getCurrentPosition(function(data) {

                var latitude = data.coords.latitude;
                var longitude = data.coords.longitude;
                var position = {
                    longitude: longitude,
                    latitude: latitude
                };
                controller.position = position;
                controller.feedAction();
            });
            setInterval('detectChange()', 3000);
        }

        $(document).ready(function () {
            var api = new sz.Api({uri: '..',request_func: $.ajax});
            lightController = new sz.light.Controller(api, $('#feed'), $('#control'));
            initializeController(lightController);

        });

        function queryOnKeyPressHandler(obj, e){
            var keycode = null;
            if (window.event) keycode = window.event.keyCode;
            else if (e)
                keycode = e.which;
            else return;
            if (keycode == 13)
            {
                refreshFeed();
            }
        }


    </script>
</head>
<body style="max-width:640px;">
    <header style="height:32px; background: url({% static "img/logo.png"%}) no-repeat left bottom;">
    </header>
    <section id="feed-section" style="padding-bottom:80px;">
        <hr/>
        <article id="feed"></article>
    </section>
    <footer style="background-color:white;position:fixed;bottom:0;width:100%;max-width:640px;">
        <hr/>
        <section id="control">
        </section>
    </footer>
</body>
</html>