
<!DOCTYPE html>
<html>
 <head>
  <title>ShZH</title>
  <meta charset="utf-8" />
   <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css" />
     <script src="http://code.jquery.com/jquery-1.8.2.js"></script>
    <script src="http://code.jquery.com/ui/1.9.0/jquery-ui.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/mobil.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/mobil.css">
    
    <script type="text/javascript" src="/home/kunla/sz/static/feed/js/mobil.js"></script>
    <link rel="stylesheet" href="/home/kunla/sz/static/feed/css/mobil.css">
 </head>
 <body>
<div id='screen'>    
 <div id='mainmenu'>
        <div id='menu'>
          <div id='logo'>ShmotZchmot</div>
          <div id='city'><a class='cityValue'>Благовещенск</a></div>
        </div>        
        <div id='sepStringTop'></div>
        <div id='area'>
            <div id='tagsArea' >
                    <div class='topArea'>

                        
                    </div>
                    
                    <div id='tagsLeft'>
<div class='changeGender' id='prevGender'>M</div>
                    <div id='dollyPlace'>
                        <div class='dollyHead'></div>
                        <div class='dollyBody'></div>
                        <div class='dollyLegs'></div>
                        <div class='dollyFoot'></div>
                    </div>
<div class='changeGender' id='nextGender'>K</div>
                    </div>
<div id='tagsRight'>
<div id='searchString'><input type="input" id='tagsSearchString' value='Введите название'/></div>
                    <div id='tagsPlace'>
                        <div id='dollyPopularPlace' class='dollyPlace'><div id='dollyPopularMove' class='moveArea'></div></div>
                        <div id='dollyHeadPlace' class='dollyPlace'><div id='dollyHeadMove' class='moveArea'></div></div>
                        <div id='dollyBodyPlace' class='dollyPlace'><div id='dollyBodyMove' class='moveArea'></div></div>
                        <div id='dollyLegsPlace' class='dollyPlace'><div id='dollyLegsMove' class='moveArea'></div></div>
                        <div id='dollyFootPlace' class='dollyPlace'><div id='dollyFootMove' class='moveArea'></div></div>
                    </div>
                    <div class='botArea'  >
                        
                        <div id='lessTags' class='lessmore_active'><<</div>
                        <div id='moreTags' class='lessmore_active'>>></div>
                    </div>
</div>
<div style='height:1px;border-top:2px solid orange;width:500px;position:absolute;bottom:40px;'><div class='ok'>Готово</div></div>
                        
<!--                     <div id='lessTags' class='lessmore_active'><<</div>
                    <div id='moreTags' class='lessmore_active'>>></div>
                    
               <div id='gender'>
                    <div id='nosex'></div>
                    <div id='female'></div>
                    <div id='male'></div>
                    <div id='kind'></div>
                </div>-->
                
            </div>
        </div>
        <div id='sepStringBot'></div>
        <div id='newmessageBox' >
             <div id='place'></a><a class='placeValue'>Магазин</a></div> 
            <div id='tags'><a class='tagsValue'>Тэги</a></div>
            <div id='tagsTopArea'></div>
            <textarea id='newmessage_textValue' rows='1' autocomplete="off">Расскажи мне о ништяках</textarea>
            <div id='newmessage_Add'>Отправить</div>
            
        </div>
    </div> 
  
</div>
   
<div>Ширина: <input type="input" id='screenWidth'  value='' style='width:50px;'/></div>
<div>Высота: <input type="input" id='screenHeight' value='' style='width:50px;'/></div>
<input type="button" id='setScreen' value='Установить'/>
    
    
    
<script type="text/javascript">
$(document).ready(function () {
    $("#area").children().hide();
    
    $("#newmessage_Add").css({marginLeft:($("#newmessageBox").width()-$("#newmessage_Add").width())/2+'px'});
    
    $("#setScreen").click(function(){
        $("#screen").width($("#screenWidth").val());
        $("#screen").height($("#screenHeight").val());
        });
    
    $(".tagsValue").click(tagsClick)
    $(".ok").click(tagsRollUp);
    $("#newmessage_textValue")
        .data('originalText', $("textarea").text())
        .css('color', '#999')
        .focus(function() {
            var $el = $(this);
            tagsRollUp()
            if (this.value == $el.data('originalText')) {
                this.value = '';
                $(this).attr('rows','2').animate({color:'#444'},200);
                $("#newmessageBox").css({borderStyle:'solid'},200).css({boxShadow:'0px 0px 4px #444'});
                $("#sepStringTop,#sepStringBot").css({backgroundColor:'#AAA'});
                jQuery($(this)).autoResize();
                $("#newmessage_Add").show()
            }
        })
        .blur(function() {
            var tagLen = $("#tagsTopArea").children().length
            if (this.value == '') {
                this.value = $(this).data('originalText');
                $(this).attr('rows','1').animate({color: '#999'},200);
                $("#newmessageBox").css({borderStyle:'none'},200).css({boxShadow:'none'});
                $("#sepStringTop,#sepStringBot").css({backgroundColor:'#FF9933'});
                $("#newmessage_Add").hide()
            }
        });
});

</script>

 </body>
</html>


