<!DOCTYPE html>
<html>
<head>
    <title>Viola–Jones object detection with a Haar cascade DEMO</title>
    <script src="/client/app/js/libs/jquery/jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" href="/client/app/css/bootstrap/css/bootstrap.css">
</head>
<body>
<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="/">shmotzhmot.me</a>
        <ul class="nav">
            <li class="active"><a href="#">vj-detecting-demo</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="span12">
    <h1>Viola–Jones object detection with a Haar cascade</h1>
        {% block content %}{% endblock %}
    </div>
</div>

</body>
</html>