{% extends "vjdetection/base.html" %}
{% block content %}
    <script type="text/javascript">
    $(function() {
        $("#id_photo").change(function(e){
            var file = e.target.files[0];
            var imageType = /image.*/;
            if (!file.type.match(imageType))
                return;
            var reader = new FileReader();
            reader.onload = function(e) {
                var $img = $('<img>', { src: e.target.result });
                var canvas = $('#preview')[0];
                var context = canvas.getContext('2d');
                $img.load(function() {
                    var factor = canvas.height/this.height;
                    context.drawImage(this, 0, 0, this.width * factor, this.height * factor);
                });
            }
            reader.readAsDataURL(file);
        });
    });
    </script>
    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
    {% csrf_token %}
        <div class="control-group">
            <canvas id="preview" width="568" height="320"></canvas>
            {{ form.as_p }}
        </div>
        <div class="control-group">
        <div class="controls">
            <input type="submit" value="Upload and detect" class="btn btn-primary"/>
        </div></div>
    </form>
{% endblock %}
